@columnWidth: 300px;
@gapWidth: 35px;

@desktopBreakpoint: 1320px;
@tabletBreakpoint: 1000px;
@phoneBreakpoint: 480px;

@primaryColor: #000;
@secondaryColor: #4A4A4A;
@auxColor: #9B9B9B;
@accentColor: #CF00AD;

.wordWrap(@force: false) {
    display: block;
    max-width: 100%;

    & when (@force) {
        word-wrap: break-word;
        hyphens: auto;
        }
    }

.ellip(@lineCount: 1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & when (@lineCount > 1) {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: @lineCount;
        -webkit-box-orient: vertical;
        white-space: normal;
        }
}

.clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
        }

    &:after {
        clear: both;
        }
    }

.textReset() {
    font-size: 14px;
    line-height: 1.57;

    .tablet-breakpoint({
        font-size: 15px;
        line-height: 1.46;
        })
    }

.desktop-breakpoint(@rules) {
    @media screen and (min-width: @desktopBreakpoint) {
        @rules();
        }
    }

.tablet-breakpoint(@rules) {
    @media screen and (min-width: @tabletBreakpoint) {
        @rules();
        }
    }

.phone-breakpoint(@rules) {
    @media screen and (min-width: @phoneBreakpoint) {
        @rules();
        }
    }

.headingHeavy() {
    font-family: Geometria, Helvetica, Arial, sans-serif;
    font-weight: 900;
    }

.headingBold() {
    font-family: Geometria, Helvetica, Arial, sans-serif;
    font-weight: 700;
    }

.islandShadow() {
    box-shadow: 0 10px 10px rgba(65, 146, 193, 0.06);
    }