@import "../_utils.less";

.article-preview-short {
    padding-bottom: 13px;
    }

    .article-preview-short_category {
        margin-bottom: 10px;    
        font-size: 13px;
        line-height: 1.2;

        .tablet-breakpoint({
            padding: 2px 0;
            });
        }

        .article-preview-short_category-a {
            color: @accentColor;
            text-decoration: none;
            }

    .article-preview-short_title {
        font-size: 15px;
        line-height: 1.23;

        .tablet-breakpoint({
            line-height: 1.33;
            })
        }

        .article-preview-short_title-a {
            .headingBold();
            text-decoration: none;
            }