@import "../_utils.less";

.article-preview-slider {
    height: 240px;

    .tablet-breakpoint({
        height: 500px;
        });
    }

    .article-preview-slider_item {
        position: relative;
        height: 240px;
        overflow: hidden; // crop absolute .article-preview-slider_footer

        .tablet-breakpoint({
            height: 500px;
            });
        }

    .article-preview-slider_slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        }

        .article-preview-slider_img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            }

    .article-preview-slider_footer {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        }

        .article-preview-slider_heading {
            padding: 10px 60px 0 20px;

            .tablet-breakpoint({
                padding: 10px 320px 5px 60px;
                });
            }

            .article-preview-slider_title {
                .headingBold();
                font-size: 20px;
                line-height: 1.2;

                .tablet-breakpoint({
                    font-size: 48px;
                    line-height: 1;
                    });
                }

            .article-preview-slider_a {
                text-decoration: none;
                color: #fff;
                }

        .article-preview-slider_info {
            height: 38px;
            padding: 0 20px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            .tablet-breakpoint({
                justify-content: space-between;
                height: 55px;
                padding: 0 70px 5px 60px;
                });
            }

            .article-preview-slider_more {
                display: none;
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;

                .tablet-breakpoint({
                    display: inline;
                    });
                }

            .article-preview-slider_comments {
                align-self: flex-start;

                & .comments-bubble {
                    height: 20px;
                    line-height: 21px;
                    padding: 0 5px;
                    min-width: 20px;
                    font-size: 13px;

                    &:after {
                        border-width: 5px 5px 0 0;
                        }

                    .tablet-breakpoint({
                        height: 30px;
                        line-height: 31px;
                        padding: 0 10px;
                        min-width: 30px;
                        font-size: 19px;

                        &:after {
                            border-width: 10px 10px 0 0;
                            }
                        })
                    }
                }