@import "../_utils.less";

.article-preview-lead {
    .islandShadow();
    border: 6px transparent solid;
    padding: 14px;
    background-color: #fff;
    margin-bottom: 10px;

    &.__accent {
        border-color: #E1E1E1;
        }

    .tablet-breakpoint({
        padding: 35px 23px 44px;
        margin-bottom: 0;
        });
    }

    .article-preview-lead_top {
        display: flex;
        min-height: 30px;

        .tablet-breakpoint({
            justify-content: space-between;
            margin-bottom: 5px;
            })
        }

        .article-preview-lead_top-left {
            margin-right: 5px;
            white-space: nowrap;

            .tablet-breakpoint({
                flex-grow: 1;
                margin-right: 20px;
                });
            }

            .article-preview-lead_favorite {
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                line-height: 0;
                }

            .article-preview-lead_tags {
                display: none;

                .tablet-breakpoint({
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -7px;
                    white-space: normal;
                    });
                }

        .article-preview-lead_top-right {
            flex-shrink: 0;
            }

    .article-preview-lead_title {
        .headingBold();
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;

        .tablet-breakpoint({
            font-size: 34px;
            line-height: 1.17;
            margin-bottom: 15px;
            })
        }

        .article-preview-lead_media {
            height: 210px;
            margin-bottom: 10px;

            .tablet-breakpoint({
                height: 320px;
                margin-bottom: 15px;
                });
            }

            .article-preview-lead_img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                }

    .article-preview-lead_text {
        font-size: 15px;
        line-height: 1.46;
        }

    .article-preview-lead_footer {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .tablet-breakpoint({
            margin-top: 30px;
            })
        }

        .article-preview-lead_comments {
            display: inline-block;
            margin-right: 20px;
            text-decoration: none;
            }

        .article-preview-lead_more {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            color: @accentColor;
            font-weight: 500;
            text-decoration: none;
            flex-grow: 1;
            }

            .article-preview-lead_more-icon {
                margin-left: 20px;
                color: #000;
                cursor: pointer;
                }

    .article-preview-lead_comments-preview {
        margin: 30px -20px -20px;
        background-color: #F5F5F5;
        padding: 12px 20px 20px;

        .tablet-breakpoint({
            margin: 30px -30px -50px; // compensate .article-preview-lead padding
            background-color: #F5F5F5;
            padding: 15px 30px 25px;
            });
        }