@import "../_utils.less";

.articles_tags {
    font-size: 0;
    white-space: nowrap;
    width: 100%;

    .tablet-breakpoint({
        white-space: normal;
        margin-bottom: -10px; // item compensation
        })
    }

    .articles_tags-item {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        margin-bottom: 10px;
        }

.articles_footer {
    padding: 30px 20px;

    .tablet-breakpoint({
        padding: 0;
        })
    }

    .articles_footer-title {
        .headingBold();
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1.16;

        .tablet-breakpoint({
            font-size: 24px;
            margin-bottom: 30px;
            })
        }

    .articles_footer-text {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 1.35;

        .tablet-breakpoint({
            margin-bottom: 20px;
            })
        }