@import "../_utils.less";

.article-preview-photo {
    background-color: #262626;
    margin-bottom: 10px;

    .tablet-breakpoint({
        display: flex;
        height: 480px;
        flex-direction: row;
        margin-bottom: 0;
        })
    }

    .article-preview-photo_left {
        flex-grow: 1;
        min-width: 0;
        padding: 18px 20px 30px;
        display: flex;
        flex-direction: column;

        .tablet-breakpoint({
            padding: 50px 30px 40px;
            });
        }

        .article-preview-photo_category {
            margin-bottom: 20px;

            .tablet-breakpoint({
                margin-bottom: 15px;
                })
            }

        .article-preview-photo_title {
            .headingBold();
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 25px;

            .tablet-breakpoint({
                flex-grow: 1;
                font-size: 28px;
                line-height: 1.21;
                margin-bottom: 0;
                })
            }

            .article-preview-photo_title_a {
                color: #fff;
                text-decoration: none;
                }

        .article-preview-photo_footer {
            display: flex;
            }

            .article-preview-photo_comments {

                }

            .article-preview-photo_more {
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: flex-end;
                color: #fff;
                }

    .article-preview-photo_right {

        .tablet-breakpoint({
            flex-shrink: 0;
            width: 635px;
            height: 100%;
            });
        }

        .article-preview-photo_img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }