@import "../_utils.less";

.articles-archive {
    background-color: #fff;
    padding: 20px;

    .tablet-breakpoint({
        padding: 27px 40px;
        })
    }

    .articles-archive_navigation {

        .tablet-breakpoint({
            margin-bottom: 35px;
            })
        }

        .articles-archive_navigation-list {
            margin-bottom: 15px;

            .tablet-breakpoint({
                margin-bottom: 5px;
                })
            }

        .articles-archive_navigation-link {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-decoration: none;
            margin-right: 8px;

            &.__active {
                color: @accentColor;
                cursor: default;
                text-decoration: none;
                }

            .articles-archive_navigation-list.__large & {
                .headingBold();
                font-size: 15px;
                line-height: 1.33;

                .tablet-breakpoint({
                    font-size: 22px;
                    })
                }
            }

    .articles-archive_articles {

        }

        .articles-archive_articles-list {

            }           

            .articles-archive_articles-item {
                border-top: 1px #F0F0F0 solid;
                padding: 12px 0;

                .tablet-breakpoint({
                    display: flex;
                    align-items: center;
                    padding: 30px 0;
                    min-height: 45px;
                    })
                }

                .articles-archive_articles-title {
                    .headingBold();
                    font-size: 15px;
                    line-height: 1.33;
                    text-decoration: none;
                    margin-right: 30px;

                    .tablet-breakpoint({
                        flex-grow: 1;
                        font-size: 22px;
                        line-height: 1;
                        })
                    }

                .articles-archive_articles-date {
                    flex-shrink: 0;
                    color: @auxColor;
                    font-size: 13px;
                    line-height: 1.23;
                    margin-top: 5px;

                    .tablet-breakpoint({
                        margin-top: 0;
                        })
                    }