@import "../_utils.less";

.article {
    background-color: #fff;
    padding-bottom: 20px;

    .tablet-breakpoint({
        padding-bottom: 40px;
        })
    }

    .article_tags {
        text-align: center;
        margin: 0 20px 10px;
        padding: 20px 0 0;

        .tablet-breakpoint({
            margin-left: 140px;
            margin-right: 140px;
            })
        }

    .article_heading {
        .headingBold();
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        margin: 10px 20px 20px;

        .tablet-breakpoint({
            font-size: 38px;
            margin-left: 140px;
            margin-right: 140px;
            })
        }

    .article_info {
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin: 0 20px 35px;
        }

        .article_date {
            margin-right: 20px;
            }

        .article_top-comments {

            }

    .article_content {
        .clearfix();

        & h1 {
            .headingBold();
            font-size: 24px;
            line-height: 1.25;
            }

        & h2 {
            .headingBold();
            font-size: 18px;
            line-height: 1.25;
            }

        & p {
            font-size: 16px;
            line-height: 1.25;

            & img {
                width: calc(100% + 40px);
                margin-left: -20px;
                max-width: none;

                .tablet-breakpoint({
                    width: auto;
                    max-width: 100%;
                    margin: 0 auto;
                    })
                }
            }

        & img {
            display: block;
            height: auto;
            width: auto;
            max-width: 100%;
            margin: 0 auto;
            }

        & td {
            padding: 0;
            }

        /* Вертикальные отступы */
        & .embed,
        & .youtubePlayer,
        & p {
            margin-top: 20px;
            margin-bottom: 20px;
            }

        h1 {
            margin-top: 30px;
            margin-bottom: 20px;
            }

        h2 {
            margin-top: 25px;
            margin-bottom: 20px;
            }
            
        /* Поток */
        & .embed,
        & h1,
        & h2,
        & p {
            margin-left: 20px;
            margin-right: 20px;

            .tablet-breakpoint({
                max-width: 630px;
                margin-left: auto;
                margin-right: auto;
                })
            }
        }

        .entry-anounce {

            }

        .entry-preview {

            & img {
                width: 100%;
                }
            }

        .entry-details {

            }

    .article_footer {
        padding: 0 20px;
        margin-bottom: 20px;

        .tablet-breakpoint({
            padding: 10px 0;
            width: 630px;
            margin: 0 auto 40px;
            })
        }

    .article_similar {
        background-color: #F8F8F8;
        padding-top: 20px;

        .tablet-breakpoint({
            box-shadow: 0 10px 10px rgba(65, 146, 193, 0.06) inset;
            padding: 20px;

            & .hot-articles-preview_column {
                width: 280px;
                }
            });

        & .hot-articles-preview {
            padding-top: 10px;
            }
        }

        .article_similar-title {
            .headingBold();
            font-size: 18px;
            padding: 0 20px;

            .tablet-breakpoint({
                font-size: 24px;
                padding: 0;
                })
            }

        .article_similar-cnt {
            .tablet-breakpoint({
                display: flex;
                })
            }

            .article_similar-tags {
                padding: 15px 20px 0;

                .tablet-breakpoint({
                    padding: 15px 0;
                    });

                & .articles_tags {
                    white-space: normal;
                    }
                }

            .article_similar-news {

                .tablet-breakpoint({
                    flex-shrink: 0;
                    margin-left: 30px;
                    })
                }

    .article_comments {
        padding-top: 40px;
        margin-left: 20px;
        margin-right: 20px;

        .tablet-breakpoint({
            max-width: 630px;
            margin-left: auto;
            margin-right: auto;
            });

        & .comment {
            margin-left: -20px;
            margin-right: -20px;

            .tablet-breakpoint({
                margin: 0;
                padding-left: 0;
                width: 735px;
                })
            }

            & .comment_user {
                .tablet-breakpoint({
                    width: 60px;
                    margin-top: -30px;
                    })
                }

            & .user-info {
                .tablet-breakpoint({
                    position: absolute;
                    top: 0;
                    left: 80px;
                    })
                }
        }

        .article_comments-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .tablet-breakpoint({
                margin-bottom: 30px;
                })
            }

            .article_comments-title {
                .wordWrap(true);
                .headingBold();
                font-size: 24px;
                line-height: 1.25;

                .tablet-breakpoint({
                    font-size: 36px;
                    })
                }

    .article_comments-auth {
        border: 1px #DDDDDD solid;
        border-radius: 3px;
        padding: 20px;

        .tablet-breakpoint({
            padding: 30px 20px 20px;
            });

        & .login_i {
            margin-top: 0;
            }

        & .login_footer {
            margin-top: 20px;
            }

        & .login_footer-cnt {
            margin-bottom: 20px;
            }
        }

        .article_comments-auth-title {
            .headingBold();
            font-size: 18px;
            line-height: 1.25;
            margin-bottom: 15px;

            .tablet-breakpoint({
                font-size: 22px;
                margin-bottom: 20px;
                })
            }

    .article_comments-list {

        }

    .article_comments-posting-form {
        margin-bottom: 20px;

        .tablet-breakpoint({
            margin-bottom: 30px;
            })
        }
