.chat-messages-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .chat-messages-owner_avatar {
        flex-shrink: 0;
        margin-right: 20px;
        }