@import "../_utils.less";

.chats {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.chat-messages {
    display: flex;
    flex-direction: column;
    min-width: 0;
    }

    .chat-messages_list {
        flex-grow: 1;
        overflow: auto;

        .tablet-breakpoint({
            padding-top: 10px;
            })
        }

        .chat-messages_item {
            position: relative;
            display: block;
            padding: 10px 20px;
            font-size: 15px;
            line-height: 1.33;

            .tablet-breakpoint({
                padding: 10px 10px 10px 110px;
                min-height: 60px;
                })
            }

            .chat-messages_author {
                display: flex;
                align-items: center;
                height: 30px;
                margin-bottom: -10px;
                min-width: 0;
                margin-right: 100px;

                .tablet-breakpoint({
                    height: auto;
                    margin-bottom: 0;
                    })
                }

                .chat-messages_avatar {
                    margin-right: 10px;

                    .tablet-breakpoint({
                        position: absolute;
                        top: 10px;
                        left: 30px;
                        })
                    }

                .chat-messages_author-name {
                    .ellip();
                    color: @secondaryColor;
                    font-weight: 700;
                    font-size: 13px;
                    }

            .chat-messages_hld {
                position: relative;
                padding-top: 20px;

                .tablet-breakpoint({
                    display: flex;
                    align-items: center;

                    .chat-messages_author + & {
                        padding-top: 0;
                        }
                    })
                }

                .chat-messages_cnt {

                    .tablet-breakpoint({
                        flex-grow: 1;
                        min-width: 0;
                        })
                    }

                .chat-messages_info {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: baseline;
                    height: 20px;
                    font-size: 13px;
                    margin-left: 20px;

                    .chat-messages_author + .chat-messages_hld & {
                        top: -15px;
                        }

                    .tablet-breakpoint({
                        position: relative;
                        top: 0 !important;
                        right: 0;
                        })
                    }

                    .chat-messages_timestamp {
                        color: @auxColor;
                        }

                    .chat-messages_actions {
                        display: none;
                        text-align: center;
                        padding-top: 2px;
                        width: 20px;
                        height: 18px;
                        margin-left: 5px;
                        color: #000;
                        cursor: pointer;
                        visibility: hidden;

                        .tablet-breakpoint({
                            display: block;
                            });

                        &.__active {
                            display: block;
                            visibility: visible;
                            }
                        }

    .chat-messages_posting-form {
        border-top: 1px #F0F0F0 solid;
        padding: 10px;

        .tablet-breakpoint({
            padding: 20px 30px;
            })
        }

        .chat-messages_posting-form-cnt {
            display: flex;
            border: 1px #DDDDDD solid;
            border-radius: 3px;

            .tablet-breakpoint({
                border: 0 none;
                })
            }

        .chat-messages_posting-message {
            flex-grow: 1;

            .tablet-breakpoint({
                border: 1px #DDDDDD solid;
                border-radius: 3px;
                margin-right: 20px;
                })
            }

            .chat-messages_posting-area {
                display: block;
                width: 100%;
                border: 0 none;
                resize: none;
                font-size: 15px;
                line-height: 1.33;
                padding: 5px 10px;
                height: 50px;
                box-sizing: border-box;
                outline: none;

                .tablet-breakpoint({
                    height: 40px;
                    padding: 10px 10px;
                    })
                }

        .chat-messages_posting-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            margin: -1px;
            background: linear-gradient(0deg, #FF008A 0%, #CF00AD 100%);
            border-radius: 3px;
            border: 0 none;
            color: #fff;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            outline: none;

            .tablet-breakpoint({
                margin: 0;
                })
            }