@import "../_utils.less";

.chat-contacts {
    display: none;
    //display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;

    .tablet-breakpoint({
        display: flex;
        width: 300px;
        border-left: 1px #f0f0f0 solid;
        order: 1;
        })
    }

    .chats_heading {
        background-color: #F4F4F4;
        }

    .chat-contacts_list {
        overflow: auto;
        flex-grow: 1;
        }

        .chat-contacts_item {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px #F0F0F0 solid;
            text-decoration: none;

            &.__active {
                background-color: #F8F8F8;
                cursor: default;
                }
            }

            .chat-contacts_avatar {
                flex-shrink: 0;
                margin-right: 10px;
                }

            .chat-contacts_info {
                flex-grow: 1;
                min-width: 0;
                font-size: 13px;
                line-height: 1.54;
                }

                .chat-contacts_user-name {
                    .ellip();
                    color: @secondaryColor;
                    font-weight: 700;
                    }

                .chat-contacts_timestamp {
                    color: @auxColor;
                    }