@import "../_utils.less";

.comment-preview {
    display: flex;
    align-items: center;
    }

    .comment-preview_avatar {
        margin-right: 20px;
        flex-shrink: 0;
        }

    .comment-preview_text {
        align-self: flex-start;
        flex-grow: 1;
        min-width: 0;
        margin-right: 20px;
        padding-top: 7px;

        .tablet-breakpoint({
            padding-top: 10px;
            })
        }

    .comment-preview_actions {
        display: none;

        .tablet-breakpoint({
            display: block;
            flex-shrink: 0;
            })
        }

    .comment-preview_action {
        font-size: 13px;
        color: @auxColor;
        text-decoration: none;

        & + & {
            margin-left: 15px;
            }
        }