@import "../_utils.less";

.comments-widget {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: @accentColor;
    font-size: 15px;
    font-weight: 500;
    }

    .comments-widget_ic {
        margin-right: 10px;
        }