@import "../_utils.less";

.comment-form {
    .tablet-breakpoint({
        position: relative;
        display: flex;
        padding-top: 30px;
        })
    }

    .comment-form_cnt {

        .tablet-breakpoint({
            flex-grow: 1;
            })
        }

    .comment-form_user {
        margin-bottom: 5px;

        .tablet-breakpoint({
            width: 60px;
            margin-top: -30px;
            margin-bottom: 0;
            margin-right: 20px;
            flex-shrink: 0;
            })
        }

        .comment-form_avatar {
            display: none;

            .tablet-breakpoint({
                display: block;
                })
            }

    .comment-form_body {
        margin-bottom: 10px;

        .tablet-breakpoint({
            margin-bottom: 15px;
            })
        }

        .comment-form_posting-area {
            display: block;
            width: 100%;
            border: 1px #DDDDDD solid;
            padding: 10px;
            border-radius: 3px;
            resize: none;
            font-size: 14px;
            line-height: 1.2;
            height: 100px;
            box-sizing: border-box;
            overflow: auto;

            .tablet-breakpoint({
                font-size: 15px;
                })
            }

    .comment-form_footer {

        & .button {
            width: 100%;

            .tablet-breakpoint({
                width: auto;
                })
            }
        }