@import "../_utils.less";

.comments-list {
    background-color: #fff;

    .tablet-breakpoint({
        background-color: transparent;
        })
    }

    .comments-list_item {

        .tablet-breakpoint({
            background-color: #fff;

            & + & {
                margin-top: 10px;
                }
            })
        }