@import "../_utils.less";

.embed {
    text-align: center;
    }

    .embed_cnt {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        }

.youtubePlayer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;

    .tablet-breakpoint({
        width: 700px;
        margin: 0 auto;
        })
    }

    .youtubePlayer_iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        }