@import "../_utils.less";

.feed-pagination {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0;

    .tablet-breakpoint({
        justify-content: space-between;
        flex-direction: row;
        margin: 0 0 30px;
        });

    & .pagination {
        text-align: left;

        &:after {
            display: none;
            }
        }

    & .pagination_button,
    & .pagination_link,
    & .pagination_stub,
    & .pagination_current {
        display: none;
        }

        & .pagination_button.__next {
            display: block;
            }

    .tablet-breakpoint({
        & .pagination_button,
        & .pagination_link,
        & .pagination_stub,
        & .pagination_current {
            display: inline-block !important;
            }
        })
    }

    .feed-pagination_left {
        flex-grow: 1;
        }

    .feed-pagination_right {
        flex-shrink: 0;
        line-height: 40px;
        }

        .feed-pagination_a {
            display: block;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            color: @auxColor;
            text-decoration: none;

            .tablet-breakpoint({
                display: inline;
                })
            }