@import "../_utils.less";

.footer {
    background-color: #262626;
    color: #fff;
    margin-top: 40px;
    font-size: 0;
    padding: 20px 20px 0;

    .tablet-breakpoint({
        padding: 0;
        })
    }

    .footer_top {

        .tablet-breakpoint({
            margin-left: -@gapWidth;
            padding-top: 46px;
            margin-bottom: 47px;
            overflow: hidden;
            })
        }

    .footer_cell {
        
        .tablet-breakpoint({
            display: inline-block;
            vertical-align: top;
            width: @columnWidth;
            margin-left: @gapWidth;

            &.__last {
                float: right;
                width: auto;
                margin-left: 0;
                margin-bottom: 14px;

                .tablet-breakpoint({
                    margin-bottom: 0;
                    })
                }
            })
        }

        .footer_logo {
            .headingHeavy();
            font-size: 32px;
            }

        .footer_social {
            padding-top: 25px;

            .tablet-breakpoint({
                padding-top: 0;
                text-align: right;
                });

            .desktop-breakpoint({
                text-align: left;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                });
            }

            .footer_social-text {
                display: block;
                font-size: 13px;
                margin-bottom: 14px;

                .tablet-breakpoint({
                    margin-bottom: 20px;
                    });

                .desktop-breakpoint({
                    margin-bottom: 0;
                    });
                }

                .ya-share2__container_size_m .ya-share2__icon {
                    width: 40px !important;
                    height: 40px !important;
                    }

                .ya-share2__container_size_m .ya-share2__item {
                    margin-right: 10px !important;

                    &:last-child {
                        margin-right: 0 !important;
                        }
                    }

        .footer_primary-link {
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            line-height: 1.6;

            & + & {
                margin-left: 25px;
                }

            .tablet-breakpoint({
                line-height: 46px;
                })
            }

    .footer_categories {
        margin-top: 20px;

        & .footer_cell {
            display: inline-block;
            margin-right: 18px;
            }

        .tablet-breakpoint({
            margin-left: -@gapWidth;
            margin-top: 0;

            & .footer_cell {
                display: inline-block;
                margin-right: 0;
                }
            });
        }

        .footer_category-title {

            .tablet-breakpoint({
                margin-bottom: 12px;
                })
            }

            .footer_category-title-a {
                font-size: 14px;
                font-weight: 700;
                text-decoration: none;
                color: #fff;

                .tablet-breakpoint({
                    font-size: 19px;
                    })
                }

        .footer_category-links {
            display: none;

            .tablet-breakpoint({
                display: block;
                margin-bottom: 35px;
                })
            }

            .footer_category-link-a {
                font-size: 13px;
                line-height: 1.53;
                color: @auxColor;
                text-decoration: none;
                margin-right: 18px;
                }

        .footer_description {
            display: none;

            .tablet-breakpoint({
                display: block;
                font-size: 13px;
                line-height: 1.53;
                color: @auxColor;
                margin-top: 8px;
                })
            }

        .footer_navigation {
            margin-top: 20px;
            }

            .footer_navigation-a {
                font-size: 13px;
                color: #fff;
                text-decoration: none;
                margin-right: 18px;
                }

        .footer_disclaimer {
            font-size: 13px;
            line-height: 1.53;
            color: @auxColor;
            margin-top: 20px;
            padding-bottom: 20px;
            }