@import "../_utils.less";

.header {
    height: 50px;

    &.__collapsed {
    
        }

    &.__search-active {

        }
    }

    .header_cnt {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;

        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 20px;
        background-color: #FF008A;
        background-image: url("../img/logo_gradient.jpg");
        background-size: cover;
        background-position: 0 50%;
        color: #fff;

        .tablet-breakpoint({
            .header.__search-active & {
                height: 100px;
                }
            })
        }

    .header_search-controls {
        margin-right: 10px;
        }

        .header_search-controls-icon {
            cursor: pointer;
            }

            .header_search-controls-search {

                .header.__search-active & {
                    display: none;
                    }
                }

            .header_search-controls-cancel {
                display: none;

                .header.__search-active & {
                    display: block;
                    }
                }

        .header_search-controls-text {
            display: none;
            }

    .header_logo {
        .headingHeavy();
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        line-height: 1;

        .desktop-breakpoint({
            font-size: 32px;
            margin-bottom: -4px;
            });

        .header.__search-active & {
            display: none;
            }
        }

    .header_menu {
        display: none;

        .tablet-breakpoint({
            .header.__full-navigation & {
                height: 100%;
                display: flex;
                align-items: center;
                margin: 0 auto;
                }

            .header.__search-active & {
                display: none;
                }
            })
        }

        .header_menu-item {
            .headingBold();
            font-size: 15px;
            color: #fff;
            text-decoration: none;

            & + & {
                margin-left: 20px;
                }
            }

    .header_actions {
        margin-left: auto;

        .tablet-breakpoint({
            .header.__full-navigation & {
                margin-left: 0;
                }
            });

        .header.__search-active & {
            display: none;
            }
        }

        .header_anonym {
            display: none;

            .header.__anonym & {
                display: block;
                }
            }

            .header_login-button {
                display: inline-block;
                box-sizing: border-box;
                height: 22px;
                border: 1px #FF872F solid;
                border-radius: 3px;
                line-height: 20px;
                color: #fff;
                padding: 0 10px;
                font-size: 11px;
                font-weight: 700;
                text-decoration: none;
                }

        .header_authorized {
            display: flex;
            align-items: center;

            .header.__search-active & {
                display: none;
                }

            .header.__anonym & {
                display: none;
                }
            }

            .header_favorite-button {
                text-decoration: none;
                }

            .header_message-button {
                display: block;
                height: 16px;
                text-decoration: none;
                margin-left: 12px;
                }

            .header_profile-button {
                text-decoration: none;
                margin-left: 12px;
                }


    .header_search {
        display: none;
        flex-grow: 1;
        height: 100%;

        .header.__search-active & {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .tablet-breakpoint({
                position: relative;
                })
            }
        }

        .header_search-input {
            display: flex;
            align-items: center;
            height: 40px;
            margin: 5px 0;
            padding-right: 5px;
            position: relative;
            background-color: #fff;
            border-radius: 3px;

            .tablet-breakpoint({
                height: 60px;
                padding-right: 10px;
                })
            }

            .header_search-text {
                flex-grow: 1;
                height: 100%;
                border: 0 none;
                padding: 0 10px;
                margin-right: 5px;
                font-size: 14px;
                background: none;

                .tablet-breakpoint({
                    font-size: 22px;
                    padding-left: 60px;
                    })
                }

            .header_search-button {
                padding: 0;
                margin: 0;
                border: 0 none;
                font-size: 0;
                height: 30px;
                width: 30px;
                min-width: 30px;
                line-height: 30px;

                .tablet-breakpoint({
                    width: auto;
                    padding: 0 30px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 15px;

                    & .icon {
                        display: none;
                        }
                    })
                }

        .header_search-suggest {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 20px 20px 0;
            background-color: #fff;
            box-shadow: 0 20px 50px rgba(42, 94, 124, 0.37);

            &:empty {
                display: none;
                }

            .tablet-breakpoint({
                padding: 30px 60px 0;
                })
            }

    .header_search-section {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 20px;
        color: #000;

        .tablet-breakpoint({
            display: flex;
            margin-bottom: 35px;
            })
        }

        .header_search-section-title {
            color: @accentColor;
            font-weight: 700;
            margin-bottom: 10px;

            .tablet-breakpoint({
                width: 100px;
                flex-shrink: 0;
                flex-grow: 0;
                })
            }

        .header_search-section-item {
            .wordWrap(true);
            margin-bottom: 10px;
            }

            .header_search-section-item-a {
                text-decoration: none;

                &.__sec {
                    color: @auxColor;
                    }
                }