@import "../_utils.less";

.header-navigation {
    .islandShadow();
    background-color: #fff;

    .tablet-breakpoint({
        text-align: center;
        })
    }

    .header-navigation_item {
        display: inline-block;

        & + & {
            margin-left: 10px;

            .tablet-breakpoint({
                margin-left: 20px;
                });
            }
        }

        .header-navigation_a {
            .headingBold();
            font-size: 15px;
            line-height: 50px;
            text-decoration: none;
            white-space: nowrap;

            .tablet-breakpoint({
                font-size: 19px;
                line-height: 79px;
                })
            }