@import "../_utils.less";

.horizontal-banner {
    max-width: 100%;
    overflow: hidden;
    }

    .horizontal-banner_a {
        display: block;
        text-decoration: none;
        }

        .horizontal-banner_cnt {
            padding: 10px 20px;
            background-color: #fff;

            .tablet-breakpoint({             
                padding: 15px 20px 30px;
                })
            }

        .horizontal-banner_title {
            font-size: 13px;
            color: @auxColor;
            text-align: center;
            margin-bottom: 10px;
            }

        .horizontal-banner_img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            }