@import "../_utils.less";

.hot-articles-preview {
    padding: 20px 0 5px;
    }

    .hot-articles-preview_column {
        display: inline-block;
        vertical-align: top;
        width: 260px;
        white-space: normal;
        margin-right: 15px;

        .tablet-breakpoint({
            width: @columnWidth;
            margin-right: 0;

            & + & {
                margin-left: @gapWidth;
                }
            })
        }