@import "../_utils.less";

.important-tags {
    .islandShadow();
    background-color: #fff;
    padding: 18px 20px 10px;
    margin-bottom: 10px;

    .tablet-breakpoint({
        padding: 45px 30px;
        margin-bottom: 0;
        })
    }

    .important-tags_title {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;

        .tablet-breakpoint({
            font-size: 24px;
            line-height: 1.16;
            })
        }

    .important-tags_list {
        font-size: 0;
        }

        .important-tags_item {
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 15px;
            }