@import "../_utils.less";

.login {

    }

    .login_i {
        margin-top: 20px;
        }

    .login_title {
        margin-bottom: 10px;
        }

    .login_social {

        .tablet-breakpoint({
            display: flex;
            })
        }

        .login_social-button {
            display: flex;
            border-radius: 3px;
            height: 40px;
            align-items: center;
            padding-left: 10px;
            font-size: 13px;
            color: #fff;
            cursor: pointer;

            .tablet-breakpoint({
                flex-basis: 100%;
                });

            & + & {
                margin-top: 5px;

                .tablet-breakpoint({
                    margin-top: 0;
                    margin-left: 10px;
                    })
                }

            &:before {
                content: '';
                display: inline-block;
                margin-right: 10px;
                }

            &.__vk {
                background-color: #223C5C;

                &:before {
                    width: 10px;
                    height: 14px;
                    background-image: url(../img/social/vk.svg);
                    }
                }

            &.__fb {
                background-color: #3B5B9B;

                &:before {
                    width: 9px;
                    height: 18px;
                    background-image: url(../img/social/fb.svg);
                    }
                }

            &.__ok {
                background-color: #EF7800;

                &:before {
                    width: 8px;
                    height: 14px;
                    background-image: url(../img/social/ok.svg);
                    }
                }
            }

    .login_form {

        .tablet-breakpoint({

            & .form {
                position: relative;
                display: flex;
                }
            });
        }

        .login_form-item {
            margin-bottom: 10px;

            .tablet-breakpoint({
                flex-basis: 100%;

                & + & {
                    margin-left: 10px;
                    }
                })
            }

        .login_form-remember {
            margin-bottom: 10px;
            font-size: 13px;

            .tablet-breakpoint({
                position: absolute;
                top: 50px;
                left: 0;
                });
            }

        .login_form-submit-cnt {
            margin-bottom: 10px;

            .tablet-breakpoint({
                flex-basis: 100%;
                margin-left: 10px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                })
            }

        .login_form-submit {

            }


        .login_form-error {
            margin-bottom: 10px;

            .tablet-breakpoint({
                order: 1;
                margin-bottom: 0;
                margin-top: 10px;
                })
            }

        .login_form-recover {
            font-size: 13px;

            .tablet-breakpoint({
                position: absolute;
                /* glaz almaz */
                top: 51px;
                left: 188px;
                });
            }

        .login_form-link {
            text-decoration: none;
            }

.login_footer {
    margin-top: 30px;
    }

    .login_footer-cnt {
        margin-bottom: 30px;
        }

    .login_footer-cnt-link {
        color: @accentColor;
        text-decoration: none;
        }

    .login_footer-note {
        font-size: 12px;
        line-height: 1.66;
        color: @secondaryColor;
        }

    .login_footer-link {
        color: #000;
        }