@import "../_utils.less";

.new-comments {
    .islandShadow();
    padding: 40px 30px;
    background: #f8f8f8;
    }

    .new-comments_title {
        .headingBold();
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 22px;
        }

    .new-comments_list {

        }

        .new-comments_item {
            display: flex;
            text-decoration: none;

            & + & {
                margin-top: 30px;
                }
            }

            .new-comments_item-title {
                flex-grow: 1;
                min-width: 0;
                font-size: 14px;
                line-height: 1.33;
                margin-right: 20px;
                }

            .new-comments_item-info {
                flex-shrink: 0;
                }

                .new-comments_item-comments {
                    position: relative;
                    top: -4px;
                    margin-bottom: 1px;
                    }

                .new-comments_item-avatar {

                    }