@import "../_utils.less";

.p404 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    background-color: #4A4A4A;
    text-align: center;
    color: #fff;
    padding: 20px;

    .tablet-breakpoint({
        padding: 40px;
        })
    }

    .p404_title {
        .headingHeavy();


        .tablet-breakpoint({
            font-size: 64px;
            margin-bottom: 40px;
            })
        }

    .p404_error {

        .tablet-breakpoint({
            font-size: 32px;
            font-weight: 700;
            })
        }

    .p404_subtitle {
        margin-bottom: 10px;

        .tablet-breakpoint({
            font-weight: 700;
            font-size: 56px;
            })
        }

    .p404_text {

        .tablet-breakpoint({
            width: 430px;
            margin: 0 auto;
            font-size: 18px;
            font-weight: 700;
            })
        }

    .p404_actions {
        margin-top: 30px;

        .tablet-breakpoint({
            margin-top: 60px;
            })
        }

        .p404_button {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);

            .tablet-breakpoint({
                padding: 0 70px;
                })
            }