@import "../_utils.less";

.persons-photo-list {
    padding: 20px;
    background-color: #fff;

    .tablet-breakpoint({
        padding: 30px;
        })
    }

    .persons-photo-list_item {

        & + & {
            margin-top: 20px;

            .tablet-breakpoint({
                margin-top: 30px;
                })
            }
        }

        .persons-photo-list_card {
            display: flex;
            align-items: center;
            }

            .persons-photo-list_media {
                display: block;
                flex-shrink: 0;
                width: 100px;
                height: 70px;
                margin-right: 15px;

                .tablet-breakpoint({
                    width: 270px;
                    height: 190px;
                    margin-right: 35px;
                    })
                }

                .persons-photo-list_img {
                    display: block;
                    width: 100%;
                    }

            .persons-photo-list_info {
                display: block;
                flex-grow: 1;
                min-width: 0;
                text-decoration: none;
                }

                .persons-photo-list_name {
                    .headingBold();
                    font-size: 15px;
                    line-height: 1.33;

                    .tablet-breakpoint({
                        font-size: 18px;
                        })
                    }

                .persons-photo-list_original-name {
                    margin-top: 3px;
                    font-size: 13px;
                    color: @auxColor;
                    }

            .persons-photo-list_action {
                margin-top: -20px;
                flex-shrink: 0;
                }                              