@import "../_utils.less";

.persons-header {
    display: flex;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    justify-content: space-between;

    .tablet-breakpoint({
        height: auto;
        padding: 0;
        margin-bottom: -30px;
        })
    }

    .persons-header_title {
        .headingBold();
        font-size: 24px;

        .tablet-breakpoint({
            font-size: 48px;
            })
        }

    .persons-header_link {
        display: none;
        font-size: 15px;
        color: @auxColor;
        font-weight: 500;
        text-decoration: none;

        .tablet-breakpoint({
            display: inline;
            })
        }    