@import "../_utils.less";

.persons-alphabet-list {
    padding: 14px 20px;
    background-color: #fff;

    .tablet-breakpoint({
        padding: 45px 40px;
        })
    }

    .persons-alphabet-list_letter {
        margin-bottom: 20px;
        overflow: hidden;

        .tablet-breakpoint({
            margin-bottom: 40px;
            })
        }

        .persons-alphabet-list_letter-title {
            .headingBold();
            padding-bottom: 4px;
            margin-bottom: 12px;
            font-size: 22px;
            border-bottom: 1px #f0f0f0 solid;

            .tablet-breakpoint({
                padding-bottom: 14px;
                margin-bottom: 27px;
                })
            }

        .persons-alphabet-list_letter-list {
            .tablet-breakpoint({
                margin-left: -@gapWidth
                })
            }

            .persons-alphabet-list_letter-item {
                display: block;
                text-decoration: none;

                & + & {
                    margin-top: 10px;
                    }

                .tablet-breakpoint({
                    float: left;
                    width: 270px;
                    margin-left: @gapWidth;
                    })
                }

                .persons-alphabet-list_letter-name {
                    .headingBold();
                    font-size: 15px;
                    line-height: 1.33;

                    .tablet-breakpoint({
                        font-size: 18px;
                        })
                    }

                .persons-alphabet-list_letter-original-name {
                    font-size: 13px;
                    color: @auxColor;
                    }