@import "../_utils.less";

.person-talks {
    margin-bottom: 30px;
    }

    .person-talks_hld {
        .islandShadow();
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;

        .tablet-breakpoint({
            padding: 30px 40px;
            })
        }

    .person-talks_actions {
        order: 1;
        line-height: 0;
        
        border-top: 1px #F0F0F0 solid;
        margin-top: 10px;
        padding-top: 15px;

        .tablet-breakpoint({
            display: flex;
            align-items: center;
            order: 0;
            border-top: none;
            border-bottom: 1px #F0F0F0 solid;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 20px;
            })
        }

    .person-talks_cnt {

        }

        .person-talks_list {

            }

            .person-talks_item {
                font-size: 0;

                & + & {
                    border-top: 1px #F0F0F0 solid;
                    margin-top: 10px;
                    padding-top: 12px;
                    }

                .tablet-breakpoint({
                    display: flex;
                    align-items: center;
                    padding: 30px 0 !important;
                    margin-top: 0 !important;
                    font-size: 22px;
                    })
                }

    .person-talks_footer {
        display: none;

        .tablet-breakpoint({
            .islandShadow();
            display: block;
            margin-top: 10px;
            })
        }

    .person-talks_title-cell {

        .tablet-breakpoint({
            flex-grow: 1;
            })
        }

    .person-talks_comments-cell {
        display: inline-block;
        width: 50%;

        .tablet-breakpoint({
            width: 90px;
            text-align: center;
            flex-shrink: 0;
            })
        }

    .person-talks_timestamp-cell {
        display: inline-block;
        width: 50%;
        text-align: right;

        .tablet-breakpoint({
            width: 180px;
            flex-shrink: 0;
            })
        }

    .person-talks_actions-text {
        display: none;

        .tablet-breakpoint({
            display: block;
            white-space: nowrap;
            font-size: 13px;
            color: @auxColor;
            })
        }

    .person-talks_title-link {
        .headingBold();
        font-size: 15px;
        text-decoration: none;
        line-height: 1.2;

        .tablet-breakpoint({
            font-size: 22px;
            })
        }

    .person-talks_comments-count {
        font-size: 13px;
        color: @accentColor;

        .tablet-breakpoint({
            .headingBold();
            font-size: 22px;
            })
        }

    .person-talks_comments-text {
        font-size: 13px;
        color: @accentColor;

        .tablet-breakpoint({
            display: none;
            })
        }

    .person-talks_comments-timestamp {
        font-size: 13px;
        color: @auxColor;
        }