@import "../_utils.less";

.person-card {
    margin-bottom: 20px;

    .tablet-breakpoint({
        margin-bottom: 10px;
        })
    }

    .person-card_photo-wrapper {
        position: relative;
        }

        .person-card_photo {
            position: relative;
            margin-bottom: 15px;

            .tablet-breakpoint({
                position: static;
                })
            }

            .person-card_background {
                min-height: 240px;

                .tablet-breakpoint({
                    min-height: 360px;
                    })
                }

                .person-card_img {
                    display: block;
                    width: 100%;
                    }

            .person-card_cnt {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                }

                .person-card_top {
                    padding: 15px 0;
                    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                    text-align: center;
                    font-size: 13px;

                    & .breadcrumbps,
                    & .breadcrumbps_link,
                    & .breadcrumbps_current,
                    & .breadcrumbps_delimiter {
                        color: #fff;
                        font-size: 13px;
                        }

                    .tablet-breakpoint({
                        padding: 40px;
                        })
                    }

                .person-card_bottom {
                    padding: 30px 0;
                    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                    text-align: center;

                    .tablet-breakpoint({
                        padding: 40px 0;
                        })
                    }

                    .person-card_name {
                        .headingBold();
                        margin-bottom: 15px;
                        color: #fff;
                        font-size: 24px;

                        .tablet-breakpoint({
                            font-size: 48px;
                            })
                        }

                    .person-card_tabs {
                        display: inline-block;
                        vertical-align: top;
                        }


        .person-card_favorite {
            margin: 0 20px;
            text-align: center;

            & .icon.__inline {
                vertical-align: middle;
                }

            .tablet-breakpoint({
                position: absolute;
                bottom: 40px;
                right: 30px;
                margin: 0;
                })
            }

    .person-card_description {
        padding-top: 15px;
        margin: 0 20px;
        font-size: 15px;

        .tablet-breakpoint({
            margin: 0;
            })
        }