@import "../_utils.less";

.person-talks-header {
    margin-bottom: 20px;

    .tablet-breakpoint({
        margin-bottom: 0;
        })
    }

    .person-talks-header_top {
        display: flex;

        .tablet-breakpoint({
            margin-bottom: 40px;
            })
        }

        .person-talks-header_avatar {
            order: 1;
            width: 30px;
            height: 30px;
            margin-top: 10px;
            margin-right: 20px;

            & .user-avatar {
                max-width: 100%;
                max-height: 100%;
                }

            .tablet-breakpoint({
                order: 0;
                width: 120px;
                height: 120px;
                })
            }

        .person-talks-header_title {
            margin-right: -20px;
            }

    .person-talks-header_bottom {
        font-size: 0;
        padding: 0 20px;

        .tablet-breakpoint({
            display: flex;
            align-items: baseline;
            padding: 0;
            })
        }

        .person-talks-header_user {
            display: inline-block;
            width: 50%;

            .tablet-breakpoint({
                flex-basis: 100%;
                flex-grow: 1;
                })
            }

        .person-talks-header_pagination {
            padding-top: 10px;

            .tablet-breakpoint({
                flex-shrink: 0;
                })
            }

        .person-talks-header_action {
            display: inline-block;
            width: 50%;
            text-align: right;

            .tablet-breakpoint({
                flex-basis: 100%;
                flex-grow: 1;
                order: 1;
                })
            }