@import "../_utils.less";

.profile-card {
    .islandShadow();
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 35px;

    .tablet-breakpoint({
        position: relative;
        padding: 40px 40px 15px;
        margin-bottom: 20px;
        })
    }

    .profile-card_avatar {
        width: 120px;
        margin: 0 auto 10px;

        &.__upload {
            display: none;
            }

        .tablet-breakpoint({
            margin-bottom: 25px;

            &.__upload {
                display: block;
                }
            })
        }

    .profile-card_user-name {
        .headingBold();
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 5px;

        .tablet-breakpoint({
            font-size: 38px;
            margin-bottom: 0;
            })
        }

    .profile-card_rating {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 10px;

        .tablet-breakpoint({
            font-size: 22px;
            })
        }

    .profile-card_top-slot {
        font-size: 13px;
        line-height: 1.54;
        color: @auxColor;

        .tablet-breakpoint({
            position: absolute;
            top: 40px;
            right: 40px;
            })
        }

        .profile-card_top-link {
            display: inline-block;
            color: @auxColor;
            text-decoration: none;

            & + & {
                margin-left: 10px;
                }
            }

    .profile-card_actions {
        padding-top: 20px;
        display: flex;
        flex-direction: column;

        .tablet-breakpoint({
            flex-direction: row;
            border-top: 1px #f0f0f0 solid;
            margin-top: 30px;
            padding-top: 35px;
            margin-bottom: 20px;
            align-items: center;
            })
        }

        .profile-card_aux-action {

            &.__left {
                order: 1;
                margin-top: 20px;

                .tablet-breakpoint({
                    order: 0;
                    margin-top: 0;
                    })
                }

            &.__right {
                order: 2;
                margin-top: 10px;

                .tablet-breakpoint({
                    order: 0;
                    margin-top: 0;
                    text-align: right;
                    })
                }

            .tablet-breakpoint({
                flex-basis: 100%;
                text-align: left;
                })
            }

        .profile-card_primary-action {

            .tablet-breakpoint({
                flex-basis: 100%;
                flex-grow: 1;
                })
            }


    .profile-card_write-message {
        display: inline-block;
        text-decoration: none;

        & .comments-bubble {
            width: 100%;
            }
        }

        .profile-card_write-message-text {
            margin-top: 5px;
            font-size: 12px;

            .tablet-breakpoint({
                margin-top: 10px;
                })
            }

    .profile-card_aux-link {
        color: @accentColor;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        }

    .profile-card_edit-form {
        padding: 0 20px 20px;

        .tablet-breakpoint({
            & .form_i {
                width: 440px;
                margin: 0 auto 10px;
                }
            })
        }