@import "../_utils.less";

.registration {

    }

    .registration_form {
        .tablet-breakpoint({
            padding-left: 100px;

            & .form_i {
                width: 300px;
                }
            })
        }

    .registration_footer {
        display: flex;
        flex-direction: column;

        .tablet-breakpoint({
            flex-direction: row;
            align-items: center;
            })
        }

    .registration_error {
        margin-bottom: 10px;

        .tablet-breakpoint({
            order: 1;
            margin-left: 20px;
            margin-bottom: 0;
            })
        }

    .registration_actions {

        }