.share-block {

    &.__isolated {
        min-width: 800px;
        }
    }
    
    .share-block_buttons {
        margin-bottom: 30px;

        .share-block.__isolated & {
            margin-bottom: 0;
            }

        & .ya-share2__list {
            display: flex;
            }

        & .ya-share2__item {
            flex-grow: 1;
            border-radius: 3px;
            
            & + & {
                margin-left: 10px;
                }

            &.ya-share2__item_service_vkontakte {
                background-color: #48729e;
                }

            &.ya-share2__item_service_facebook {
                background-color: #3b5998;
                }

            &.ya-share2__item_service_odnoklassniki {
                background-color: #eb722e;
                }

            &.ya-share2__item_service_twitter {
                background-color: #00aced;
                }

            &.ya-share2__item_service_telegram {
                background-color: #64a9dc;
                }
            }

        & .ya-share2__link {
            display: flex;
            align-items: center;
            }

        & .ya-share2__title {
            display: block !important;
            flex-grow: 1;
            color: #fff !important;
            font-size: 13px;
            font-weight: 500;
            margin-left: 0 !important;
            font-family: "Helvetica Neue", Arial, sans-serif;
            }
        }

    .share-block_footer {
        display: flex;

        & .comments-widget {
            margin-right: 30px;
            }
        }

.dzen-block {

    }

    .dzen-block_a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        line-height: 1.2;
        }

    .dzen-block_ic {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-image: url(../img/social/zen.png);
        background-size: 30px 30px;
        }