@import "../_utils.less";

.similar-news {
    display: flex;
    }

    .similar-news_preview {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-right: 35px;
        }

        .similar-news_top {
            background-color: #262626;
            padding: 30px;
            flex-shrink: 0;
            }

            .similar-news_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                }

                .similar-news_category {

                    }

                .similar-news_counter {

                    }

            .similar-news_title {

                }

                .similar-news_title-a {
                    .headingBold();
                    font-size: 18px;
                    line-height: 1.22;
                    color: #fff;
                    text-decoration: none;
                    }

        .similar-news_media {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            }

            .similar-news_img {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                }

    .similar-news_aside {
        width: 270px;
        }

        .similar-news_list {

            }

            .similar-news_link {

                & + & {
                    margin-top: 20px;
                    }
                }

                .similar-news_link-a {
                    font-size: 15px;
                    line-height: 1.33;
                    text-decoration: none;
                    }

        .similar-news_more {
            margin-top: 20px;
            }

            .similar-news_more-link {
                font-size: 15px;
                line-height: 1.33;
                color: @accentColor;
                text-decoration: none;
                }