.sticky-column {
    /* Просто поверь в магию */
    display: table;
    }

    .sticky-column_cnt {
        width: 300px;

        &.__fixed-top {
            position: fixed;
            top: 50px;
            }

        &.__fixed-bottom {
            position: fixed;
            bottom: 0;
            }
        }