@import "../_utils.less";

.top-popular {
    .islandShadow();
    padding: 45px 30px 50px;
    background: #fff;
    }

    .top-popular_title {
        .headingBold();
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 20px;
        }

    .top-popular_list {

        }

        .top-popular_item {
            display: flex;

            & + & {
                margin-top: 25px;
                }
            }

        .top-popular_item-title {
            font-size: 15px;
            line-height: 1.33;
            margin-right: 20px;
            text-decoration: none;
            flex-grow: 1;
            min-width: 0;
            }

        .top-popular_item-info {
            flex-shrink: 0;
            }