@import "../_utils.less";

.top-discussing {
    .islandShadow();
    padding: 20px 20px 0;
    background: #fff;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    .tablet-breakpoint({
        padding: 40px 30px 50px;
        margin: 0;
        })
    }

    .top-discussing_title {
        .headingBold();
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;

        .tablet-breakpoint({
            font-size: 24px;
            line-height: 1.16;
            })
        }

    .top-discussing_list {
        margin: 0 -20px;

        .tablet-breakpoint({
            margin: 0;
            })
        }

        .top-discussing_item {
            display: inline-block;
            vertical-align: top;
            width: 260px;
            white-space: normal;
            line-height: 1.2;
            padding-bottom: 30px;
            margin-right: 15px;

            .tablet-breakpoint({
                display: flex;
                width: auto;
                padding-bottom: 0;
                margin-right: 0;

                & + & {
                    margin-top: 25px;
                    }
                })
            }

            .top-discussing_item-title {
                font-size: 15px;
                line-height: 1.33;
                margin-right: 20px;
                text-decoration: none;
                flex-grow: 1;
                min-width: 0;
                }

            .top-discussing_item-info {
                flex-shrink: 0;
                order: 1;
                margin-bottom: 10px;

                .tablet-breakpoint({
                    margin-bottom: 0;
                    })
                }