@import "../_utils.less";

.wrapper {

    &.__messages {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        }
    }

    .wrapper_content {

        .wrapper.__messages & {
            display: flex;
            flex-grow: 1;
            width: 100%;

            .tablet-breakpoint({
                width: auto;
                })
            }
        }

    .wrapper_main {

        .wrapper.__messages & {
            position: relative;
            min-width: 0;
            background-color: #fff;
            flex-grow: 1;
            }
        }

    .wrapper_aside {
        display: none;

        .desktop-breakpoint({
            display: inline-block;
            });

        .wrapper.__messages & {
            position: relative;
            overflow: hidden;

            & .column-container {
                position: absolute;
                }
            }
        }