<div class="p404">
    <h1 class="p404_title">ПОПКОРНNEWS</h1>

    <div class="p404_error">Ошибка 404</div>
    <h2 class="p404_subtitle">Страница не найдена</h2>
    <div class="p404_text">Неправильно набран адрес, или такой страницы на сайте больше не существует</div>
    <div class="p404_actions">
        <%- partial("_partials/_button", {
            value: "На главную",
            cssMod: "p404_button"
        }); %>
    </div>
</div>