<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Popcorn2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no"/>

        <!--<link rel="shortcut icon" href="./favicon.png" type="image/png">-->

        <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen, print">
        <script src="./js/App.js" defer></script>
    </head>


    <body>
        <div class="wrapper">
            <%- partial("_partials/_header"); %>
            <%- partial("_partials/_header-navigation"); %>
            
            <%- yield %>

            <div class="wrapper_footer">
                <%- partial("_partials/_footer"); %>
            </div>        
        </div>
    </body>

</html>