<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Popcorn2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>

    <!--<link rel="shortcut icon" href="./favicon.png" type="image/png">-->

    <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen, print">
</head>


<body>
    <div class="wrapper">

        <div class="layer">
            <div class="layer_hld">
                <div class="layer_overlay"></div>
                <div class="layer_cnt">
                    <div class="layer_header"><%= title %></div>

                    <%- yield %>

                    <div class="layer_close">
                        <div class="icon icon_close"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>