<div class="wrapper_content column-container default-container">

    <div class="responsive-switcher">
        <div class="responsive-switcher_default"></div>
        <div class="responsive-switcher_tablet">
            <div class="column-container row-container">
                <%- partial("_partials/_portlet-horizontal-banner", { value: 'banner2.jpg'}); %>
            </div>
        </div>
    </div>

    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <div class="article">
                    <article>
                        <div class="article_tags">
                            <% for(var i = 0; i < public._data['article'].tags.length; i++) { %>
                                <%- partial("_partials/_article-tag", {
                                    value: public._data['article'].tags[i].title,
                                    cssMod: public._data['article'].tags[i]['is-accent'] ? '__accent' : ''
                                }); %>
                            <% } %>
                        </div>
                        <div class="article_heading">
                            <%= public._data['article'].title %>
                        </div>
                        <div class="article_info">
                            <div class="article_date">
                                <div class="article-date"><%= public._data['article'].date %></div>
                            </div>

                            <a href="#comments" class="article_top-comments js-hook" data-module="ScrollTo">
                                <%- partial("_partials/_comments-bubble", {
                                    value: public._data['article'].comments.count
                                }); %>
                            </a>
                        </div>

                        <div class="article_content">
                            <div class="entry-preview">
                                <img itemprop="image" src="https://v1.popcornnews.ru/upload/_500_600_80_WAsakk.jpg" alt="Что показали в трейлере « Мстителей: Финал»: 19 деталей, которые вы могли пропустить" title="Что показали в трейлере « Мстителей: Финал»: 19 деталей, которые вы могли пропустить">
                            </div>

                            <div class="entry-anounce" itemprop="description">
                                <p>Семейство Кардашьян не зря считается одним из самых популярных медиакланов в мире – все, что они делают, вызывает огромный резонанс и имеет оглушительный успех. Не удивительно, что и рождественскую вечеринку сестры во главе с Крис Дженнер устроили поистине сказочную. Сообщается, что на нее было потрачено полмиллиона долларов, и очевидцы уверены, что праздник стоил каждого потраченного на него цента.</p>
                            </div>

                            <div class="entry-details">
                                <p>Всё начинается с ностальгических флэшбэков, которые напоминают нам о том, как Железный человек, Капитан Америка и Тор пришли туда, откуда начнут финальную борьбу с Таносом. Обратите внимание вот на что: цветовая гамма флэшбэков – серый, белый и красный, причём красный особенно выделяется на этом монохромном фоне.<i></i></p>

                                <!-- Youtube embed -->
                                <div class="youtubePlayer">
                                    <iframe class="youtubePlayer_iframe" src="https://www.youtube.com/embed/zSE6Iw9DwQw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                                <!-- /Youtube embed -->

                                <p>Каждый год Крис Дженнер устраивает масштабную вечеринку 24 декабря, на этот раз прошедшую в доме Ким Кардашьян и Канье Уэста. Она приглашает порядка 200 гостей и не жалеет средств на их развлечение. «Этот великолепный праздник также помогает продавать косметику Кайли, парфюм Ким и джинсы Хлое. Это все нацелено на имидж», – говорит инсайдер. Несмотря на столь внушительный ценник, Крис всегда получает хорошую скидку от организатора праздников Минди Вайс, так как они работают вместе уже много лет.</p>
                                <p>
                                    <img src="https://v1.popcornnews.ru/upload/image/fc/sub-buzz-18748-1552574131-1(1).jpg" width="500" height="627" alt="" />
                                </p>

                                <!-- Instagramm embed -->
                                <div class="embed">
                                    <div class="embed_cnt">

                                        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bu4eW__hAKr/?utm_source=ig_embed&amp;utm_medium=loading" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                                            <div style="padding:16px;">
                                                <a href="https://www.instagram.com/p/Bu4eW__hAKr/?utm_source=ig_embed&amp;utm_medium=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
                                                    <div style=" display: flex; flex-direction: row; align-items: center;">
                                                        <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                                                        <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                                            <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                                                            <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                                                        </div>
                                                    </div>
                                                    <div style="padding: 19% 0;"></div>
                                                    <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                                                        <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g>
                                                        </svg>
                                                    </div>
                                                    <div style="padding-top: 8px;">
                                                        <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div>
                                                    </div>
                                                    <div style="padding: 12.5% 0;"></div>
                                                    <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                                                        <div>
                                                            <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                                                            <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                                                            <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                                                        </div>
                                                        <div style="margin-left: 8px;">
                                                            <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                                                            <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                                                        </div>
                                                        <div style="margin-left: auto;">
                                                            <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                                                            <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                                                            <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <p style=" margin:8px 0 0 0; padding:0 4px;">
                                                    <a href="https://www.instagram.com/p/Bu4eW__hAKr/?utm_source=ig_embed&amp;utm_medium=loading" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">شتكولون</a>
                                                </p>
                                                <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Публикация от <a href="https://www.instagram.com/x.hs.c/?utm_source=ig_embed&amp;utm_medium=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> صفا الروح 🌸👑</a> (@x.hs.c)
                                                    <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2019-03-11T21:03:08+00:00">11 Мар 2019 в 2:03 PDT</time>
                                                </p>
                                            </div>
                                        </blockquote>
                                        <script async src="//www.instagram.com/embed.js"></script>

                                    </div>
                                </div>
                                <!-- /Instagramm embed -->

                                <!-- Twitter embed -->
                                <div class="embed">
                                    <div class="embed_cnt">

                                        <blockquote class="twitter-tweet" data-lang="ru">
                                            <p lang="ru" dir="ltr">если у вас не задался день, просто зайдите в Одноклассники. там вам предложат отправить сгенерированный текст поздравления с праздником,  о котором вы даже не подозревали. на скриншоте переписка из заранее сгенерированного текста. ну разве это не мило?
                                                <a href="https://t.co/HUixIiKzMC">pic.twitter.com/HUixIiKzMC</a>
                                            </p>&mdash; паша м (@chevoobshe)
                                            <a href="https://twitter.com/chevoobshe/status/1097432370733568000?ref_src=twsrc%5Etfw">18 февраля 2019 г.</a>
                                        </blockquote>
                                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                                    </div>
                                </div>
                                <!-- /Twitter embed -->

                                <!-- Facebook embed -->
                                <div class="embed">
                                    <div class="embed_cnt">

                                        <div id="fb-root"></div>
                                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2"></script>
                                        <div class="fb-comment-embed" data-href="https://www.facebook.com/zuck/posts/10102577175875681?comment_id=1193531464007751&amp;reply_comment_id=654912701278942" data-width="560" data-include-parent="false"></div>

                                    </div>
                                </div>
                                <!-- /Facebook embed -->

                                <h1>Очень много добрых дел</h1>
                                <p>Каждый год Крис Дженнер устраивает масштабную вечеринку 24 декабря, на этот раз прошедшую в доме Ким Кардашьян и Канье Уэста. Она приглашает порядка 200 гостей и не жалеет средств на их развлечение. «Этот великолепный праздник также помогает продавать косметику Кайли, парфюм Ким и джинсы Хлое. Это все нацелено на имидж», – говорит инсайдер. Несмотря на столь внушительный ценник, Крис всегда получает хорошую скидку от организатора праздников Минди Вайс, так как они работают вместе уже много лет.</p>
                                <p>В этом году особняк Ким и Канье был украшен в стиле «Зимней страны чудес», а самой дорогостоящей декорацией стал заснеженный задний двор, где гости могли кататься на санках. Для присутствующих пел Джон Ледженд, а знаменитые шеф-повара готовили изысканный ужин. Все, кому посчастливилось посетить это мероприятие, отзываются о нем с невероятным восторгом.</p>
                                <h2>Очень много добрых дел</h2>
                                <p>В этом году особняк Ким и Канье был украшен в стиле «Зимней страны чудес», а самой дорогостоящей декорацией стал заснеженный задний двор, где гости могли кататься на санках. Для присутствующих пел Джон Ледженд, а знаменитые шеф-повара готовили изысканный ужин. Все, кому посчастливилось посетить это мероприятие, отзываются о нем с невероятным восторгом.</p>

                                <table width="100%" border="0" align="center" cellpadding="5" cellspacing="5">
                                    <tbody>
                                    <tr>
                                        <td><img src="https://v1.popcornnews.ru//upload/image/fc/0-1(27).gif" width="350" height="194" alt=""></td>
                                        <td><img src="https://v1.popcornnews.ru//upload/image/fc/0-2(18).gif" width="350" height="194" alt=""></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>В этом году особняк Ким и Канье был украшен в стиле «Зимней страны чудес», а самой дорогостоящей декорацией стал заснеженный задний двор, где гости могли кататься на санках. Для присутствующих пел Джон Ледженд, а знаменитые шеф-повара готовили изысканный ужин. Все, кому посчастливилось посетить это мероприятие, отзываются о нем с невероятным восторгом.</p>
                                <p>Автор: Маша Петрова</p>
                            </div>
                        </div>
                    </article>

                    <div class="article_footer">
                        <div class="responsive-switcher">
                            <div class="responsive-switcher_default">
                                <div class="dzen-block">
                                    <a href="#" class="dzen-block_a">
                                        <span class="dzen-block_ic"></span>
                                        Больше новостей в Яндекс.Дзен
                                    </a>
                                </div>
                            </div>
                            <div class="responsive-switcher_tablet">
                                <div class="share-block">
                                    <div class="share-block_buttons">
                                        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                        <script src="//yastatic.net/share2/share.js"></script>
                                        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
                                    </div>

                                    <div class="share-block_footer">
                                        <a href="#comments" class="comments-widget js-hook" data-module="ScrollTo">
                                            <div class="comments-widget_ic">
                                                <%- partial("_partials/_comments-bubble", {
                                                    value: 24
                                                }); %>
                                            </div>
                                            Комментировать
                                        </a>

                                        <div class="dzen-block">
                                            <a href="#" class="dzen-block_a">
                                                <span class="dzen-block_ic"></span>
                                                Больше новостей в Яндекс.Дзен
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="article_similar">
                        <div class="responsive-switcher">
                            <div class="responsive-switcher_default">
                                <div class="article_similar-title">Подробнее</div>

                                <div class="article_similar-tags">
                                    <%- partial("_partials/_similar-tags"); %>
                                </div>

                                <%- partial("_partials/_hot-articles-preview"); %>
                            </div>
                            <div class="responsive-switcher_tablet">
                                <div class="article_similar-cnt">
                                    <div>
                                        <div class="article_similar-title">Подробнее</div>

                                        <div class="article_similar-tags">
                                            <%- partial("_partials/_similar-tags"); %>
                                        </div>
                                    </div>
                                    <div class="article_similar-news">
                                        <%- partial("_partials/_similar-news", {
                                            value: public._data['similar-news']
                                        }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="article_comments js-hook" id="comments" data-module="comment/CommentForm" data-discussion-id="123">
                        <div class="article_comments-heading">
                            <div class="article_comments-title">24 комментария</div>

                            <a href="#comment-form" class="article_comments-anchor js-hook" data-module="ScrollToAndFocus" data-focusable="#comment-area">
                                <%- partial("_partials/_comments-bubble", {
                                    value: "Написать"
                                }); %>
                            </a>
                        </div>

                        <div class="article_comments-list">
                            <%- partial("_partials/_comments-list", { value: public._data['comments'] }); %>
                        </div>

                        <div class="article_comments-posting-form" id="comment-form">
                            <%- partial("_partials/_comment-form"); %>
                        </div>

                        <div class="article_comments-auth">
                            <div class="article_comments-auth-title">Зарегистрируйтесь, чтобы оставлять комментарии</div>

                            <div class="login">
                                <div class="login_i">
                                    <div class="login_title">Войти как пользователь</div>
                                    <div class="login_social">
                                        <span class="login_social-button __vk">Вконтакте</span>
                                        <span class="login_social-button __fb">Фейсбук</span>
                                        <span class="login_social-button __ok">Одноклассники</span>
                                    </div>
                                </div>

                                <div class="login_footer">
                                    <div class="login_footer-cnt">
                                        Или войдите <a class="login_footer-cnt-link" href="#">по логину Попкорньюс</a>
                                    </div>

                                    <div class="login_footer-note">
                                        Авторизовываясь, вы соглашаетесь с <a class="login_footer-link" href="#">правилами использования сайта</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: 'm020Articles010Tag' }); %>-->