<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_heading-primary", {
                    title: "Рекламная кампания",
                    lead: "Ким Кардашиан (Кимберли Кардашиан Хамфрис) – американская светская львица, тусовщица, фотомодель и актриса, а также участница американской версии шоу «Танцы со звездами»",
                    breadcrumbps: [
                        "Все новости",
                        "Мода"
                    ],
                    tags: true
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_article-preview-lead", { article: public._data['articles']['with-comments-preview'] }); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-discussing"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_article-preview-lead", { article: public._data['articles']['with-comments-preview'] }); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-discussing"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_feed-pagination"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <%- partial("_partials/_articles-footer"); %>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: 'm020Articles010Tag' }); %>-->