<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_heading-primary", {
                    title: "Рекламная кампания, архив",
                    breadcrumbps: [
                        "Все новости",
                        "Мода"
                    ]
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_articles-archive-body"); %>
            </div>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: '020Articles020Archive' }); %>-->