<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_chats", {
                    value: public._data['chats']
                }); %>
            </div>
        </div>

    </main>
    <aside class="wrapper_aside column __width-1">
        <div class="column-container row-container">
            <div class="column __width-1">
                <%- partial("_partials/_portlet-vertical-banner"); %>
            </div>
        </div>
    </aside>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: 'm020Articles010Tag' }); %>-->