<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_article-preview-slider"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_hot-articles-preview"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_portlet-horizontal-banner", { value: 'banner1.jpg'}); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_article-preview-lead", { article: public._data['articles']['with-comments-preview'] }); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-discussing"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_article-preview-photo", { article: public._data['articles']['photo'] }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_article-preview-lead", { article: public._data['articles']['with-accent'] }); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-popular"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_article-preview-lead", { article: public._data['articles']['simple']}); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-important-tags"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_feed-pagination"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <%- partial("_partials/_portlet-horizontal-banner", { value: 'banner2.jpg'}); %>
        </div>
    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: 'index_mobile' }); %>-->

<!--<script>-->
    <!--window.onloadCallback.run(-->
        <!--['layer/MessageLayerHelper'],-->
        <!--function (MessageLayerHelper) {-->
            <!--MessageLayerHelper.showMessage("title", "body");-->
        <!--}-->
    <!--)-->
<!--</script>-->