<div class="wrapper_content column-container default-container">

    <div class="responsive-switcher">
        <div class="responsive-switcher_default"></div>
        <div class="responsive-switcher_tablet">
            <div class="column-container row-container">
                <%- partial("_partials/_portlet-horizontal-banner", { value: 'banner2.jpg'}); %>
            </div>
        </div>
    </div>

    <main class="wrapper_main column __width-3" role="main">

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_person-card", {
                    value: public._data['person-card']['without-text']
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_person-talks", {
                    value: public._data['person-talks']
                }); %>
            </div>
        </div>        

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_heading-secondary", {
                    title: "Последние комментарии"
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_comments-list", { value: public._data['comments'] }); %>
            </div>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: 'm020Articles010Tag' }); %>-->