<div class="wrapper_content column-container default-container">

    <main class="wrapper_main column __width-3" role="main">

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_person-talks-header"); %>
            </div>
        </div>
        
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_comments-list", { value: public._data['comments-pin'] }); %>
            </div>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: 'm020Articles010Tag' }); %>-->