<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_heading-primary", {
                    title: "Персоны",
                    action: "Одним списком"
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_persons-alphabet-list"); %>
            </div>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: '040Persons020List' }); %>-->