<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_heading-primary", {
                    title: "Персоны",
                    action: "Одним списком"
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_persons-photo-list"); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-discussing"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <%- partial("_partials/_portlet-horizontal-banner", { value: 'banner2.jpg'}); %>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_persons-photo-list"); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-discussing"); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_feed-pagination"); %>
            </div>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>
<!--<%- partial("_partials/_pixel-perfect", { overlay: '040Persons010Persons' }); %>-->