<div class="layer_text">
    Осталось активировать свой аккаунт. Мы отправили письмо на адрес %e-mail%, пожалуйста, перейдите по ссылке в этом письме.
</div>
<div class="layer_actions">
    <%- partial("_partials/_button", {
        cssMod: "__wide",
        value: "Войти"
    }); %>
</div>