<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_profile-card", { value: public._data['profile'] }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_heading-secondary", {
                    title: "Персоны"
                }); %>
            </div>
        </div>

        <div class="column-container row-container">
            <div class="column __width-2">
                <%- partial("_partials/_persons-photo-list"); %>
            </div>
            <div class="column __width-1">
                <%- partial("_partials/_portlet-top-discussing"); %>
            </div>
        </div>

    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>