<div class="wrapper_content column-container default-container">
    <main class="wrapper_main column __width-3" role="main">
        <div class="column-container row-container">
            <div class="column __width-3">
                <%- partial("_partials/_profile-card-empty", { value: public._data['profile'] }); %>
            </div>
        </div>
    </main>
    <%- partial("_partials/_sticky-column"); %>
</div>