<div class="articles-archive">
    <div class="articles-archive_navigation">
        <div class="articles-archive_navigation-list __large">
            <a href="#" class="articles-archive_navigation-link">2019</a>
            <a class="articles-archive_navigation-link __active">2018</a>
            <a href="#" class="articles-archive_navigation-link">2017</a>
            <a href="#" class="articles-archive_navigation-link">2016</a>
            <a href="#" class="articles-archive_navigation-link">2015</a>
            <a href="#" class="articles-archive_navigation-link">2014</a>
            <a href="#" class="articles-archive_navigation-link">2013</a>
            <a href="#" class="articles-archive_navigation-link">2012</a>
            <a href="#" class="articles-archive_navigation-link">2011</a>
            <a href="#" class="articles-archive_navigation-link">2010</a>
            <a href="#" class="articles-archive_navigation-link">2009</a>
            <a href="#" class="articles-archive_navigation-link">2008</a>
            <a href="#" class="articles-archive_navigation-link">2007</a>               
        </div>
        <div class="articles-archive_navigation-list">
            <a href="#" class="articles-archive_navigation-link">декабрь</a>
            <a href="#" class="articles-archive_navigation-link">ноябрь</a>
            <a href="#" class="articles-archive_navigation-link">октябрь</a>
            <a href="#" class="articles-archive_navigation-link">сентябрь</a>
            <a href="#" class="articles-archive_navigation-link">август</a>
            <a href="#" class="articles-archive_navigation-link">июль</a>
            <a href="#" class="articles-archive_navigation-link">июнь</a>
            <a href="#" class="articles-archive_navigation-link">май</a>
            <a href="#" class="articles-archive_navigation-link">апрель</a>
            <a href="#" class="articles-archive_navigation-link">март</a>
            <a href="#" class="articles-archive_navigation-link">февраль</a>
            <a class="articles-archive_navigation-link __active">январь</a>
        </div>
        <div class="articles-archive_navigation-list">
            <a href="#" class="articles-archive_navigation-link">1</a>
            <a href="#" class="articles-archive_navigation-link">2</a>
            <a href="#" class="articles-archive_navigation-link">3</a>
            <a href="#" class="articles-archive_navigation-link">4</a>
            <a class="articles-archive_navigation-link __active">5</a>
        </div>
    </div>
    <div class="articles-archive_articles">
        <div class="articles-archive_articles-list">
            <div class="articles-archive_articles-item">
                <a href="#" class="articles-archive_articles-title">О чем они только думали: самые нелепые и неудачные наряды звезд на «Золотом глобусе»</a>
                <div class="articles-archive_articles-date">19 янв 2018 13:20</div>
            </div>
            <div class="articles-archive_articles-item">
                <a href="#" class="articles-archive_articles-title">Телепрограмма на сегодня, 6 января 2019, для всех каналов</a>
                <div class="articles-archive_articles-date">19 янв 2018 13:20</div>
            </div>
            <div class="articles-archive_articles-item">
                <a href="#" class="articles-archive_articles-title">Мизинец выжил, а Бран Старк стал Королем Ночи: топ 5 фанатских теорий о финале «Игры престолов»</a>
                <div class="articles-archive_articles-date">19 янв 2018 13:20</div>
            </div>
            <div class="articles-archive_articles-item">
                <a href="#" class="articles-archive_articles-title">Благодаря «Черной Пантере» Летишиа Райт номинирована на «британский Оскар» как восходящая звезда</a>
                <div class="articles-archive_articles-date">19 янв 2018 13:20</div>
            </div>
        </div>
    </div>
</div>