<article itemscope itemtype="http://schema.org/Article" class="article-preview-short">
    <div class="article-preview-short_category">
        <a class="article-preview-short_category-a" href="#">
            <%= category %>
        </a>
    </div>
    <h1 itemprop="headline" class="article-preview-short_title">
        <a class="article-preview-short_title-a" href="#">
            <%= title %>
        </a>
    </h1>
</article>