<div itemscope itemtype="http://schema.org/Article" class="article-preview-photo">
    <div class="article-preview-photo_left">
        <div class="article-preview-photo_category">
            <a class="category" href="#">
                <%= article.category %>
            </a>
        </div>

        <h1 itemprop="headline" class="article-preview-photo_title">
            <a class="article-preview-photo_title_a" href="#">
                <%= article.title %>
            </a>
        </h1>

        <div class="article-preview-photo_footer">
            <%if (article["comments"]) { %>
                <a class="article-preview-photo_comments" href="#">
                    <%- partial("_comments-bubble", {
                        value: article['comments']['count'],
                        cssMod: article['comments']['is-accent'] ? '__accent' : ''
                    }); %>
                </a>
            <% } %>
            <a class="article-preview-photo_more" href="#">
                <%- partial("_icon-external") %>
            </a>
        </div>
    </div>
    <div class="article-preview-photo_right">
        <img class="article-preview-photo_img" src="./img/article/<%= article.image %>">
    </div>
</div>