<article class="article-preview-slider swiper-container js-hook" data-module="Slider">
    <div class="swiper-wrapper">
        <% for(var i = 0, item; i < public._data['slider'].length; i++) { item = public._data['slider'][i] %>
            <div class="article-preview-slider_item swiper-slide">
                <div class="article-preview-slider_slide">
                    <img class="article-preview-slider_img" src="./img/article/<%- item.image %>" />
                </div>
                <div class="article-preview-slider_footer">
                    <div class="article-preview-slider_heading">
                        <h1 class="article-preview-slider_title">
                            <a class="article-preview-slider_a" href="./article"><%= item.title %></a>
                        </h1>
                    </div>
                    <div class="article-preview-slider_info">
                        <a href="#" class="article-preview-slider_more">Читать дальше</a>
                        <a href="#" class="article-preview-slider_comments">
                            <%- partial("_comments-bubble", {
                                value: item.comments.count
                            }); %>
                        </a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</article>