<article itemscope itemtype="http://schema.org/Article" class="article-preview-lead <%- article['is-accent'] ? '__accent' : '' %>">
    <div class="article-preview-lead_top">
        <div class="article-preview-lead_top-left">
            <%if (article["is-favorite"]) { %>
                <div class="article-preview-lead_favorite">
                    <span class="icon __inline icon_heart"></span>
                </div>
            <% } %>
            <div class="article-preview-lead_tags">
                <% for(var i = 0; i < article.tags.length; i++) { %>
                    <%- partial("_article-tag", {
                        value: article.tags[i].title,
                        cssMod: article.tags[i]['is-accent'] ? '__accent' : ''
                    }); %>
                <% } %>
            </div>
        </div>
        <div class="article-preview-lead_top-right">
            <div class="article-date"><%= article.date %></div>
        </div>
    </div>
    <h1 itemprop="headline" class="article-preview-lead_title"><%= article.title %></h1>
    <div class="article-preview-lead_media">
        <img class="article-preview-lead_img" src="./img/article/<%= article.image %>">
    </div>
    <div itemprop="description" class="article-preview-lead_text"><%= article.text %></div>
    <div class="article-preview-lead_footer">
        <%if (article["comments"]) { %>
            <a class="article-preview-lead_comments" href="#">
                <%- partial("_comments-bubble", {
                    value: article['comments']['count'],
                    cssMod: article['comments']['is-accent'] ? '__accent' : ''
                }); %>
            </a>
        <% } %>
        <a class="article-preview-lead_more" href="#">
            Читать дальше
        </a>
        <span class="article-preview-lead_more-icon js-hook" data-module="share/LinkShare" data-link="https://ok.ru" data-title="<%= article.title %>" title="Поделиться">
            <%- partial("_icon-external") %>
        </span>
    </div>
    <%if (article["comments-preview"]) { %>
        <div class="article-preview-lead_comments-preview">
            <% for(var i = 0; i < article['comments-preview'].length; i++) { %>
                <%- partial("_comment-preview", {
                    avatar: article['comments-preview'][i].avatar,
                    text: article['comments-preview'][i].text
                }); %>
            <% } %>
        </div>
    <% } %>
</article>