<div class="articles_tags">
    <% for(var i = 0; i < public._data['important-tags'].length; i++) { %>
    <span class="articles_tags-item">
        <%- partial("_outline-tag", {
            value: public._data['important-tags'][i].title
        }); %>
    </span>
    <% } %>
</div>