<div class="articles_footer">
    <div class="articles_footer-title">Сеошный текст к категории</div>
    <div class="articles_footer-text">
        Ким Кардашиан (Кимберли Кардашиан Хамфрис) – американская светская львица, тусовщица, фотомодель и актриса, а также участница американской версии шоу «Танцы со звездами» появилась на свет 21 октября 1980 года в Лос-Анджелесе (Калифорния). Ее отец - успешный адвокат, а мать – светская дама. Когда Кимберли было восемь, ее родители подали на развод, и вскоре мать пошла под венец опять. Ее мужем в этот раз стал бывший спортсмен-легкоатлет. Поэтому у Ким, кроме двух родных сестер и брата, есть еще шестеро сводных. В школе Ким особо не блистала знаниями, но в старших классах подрабатывала в Movie Tunes, маркетинговой фирме. Необычная внешность Ким – это дикий коктейль армянских, турецких, шотландских и голландских корней.
    </div>
    <div class="articles_footer-text">
        Свою первую заметную роль Ким Кардашян получила в сериале Beyond the Break, а позже (в 2008 году) сыграла Лизу в пародийном фильме «Нереальный блокбастер». За эту роль Ким получила «почетную» «Золотую Малину» как худшая исполнительница женской роли второго плана. Также Ким досталась эпизодическая роль в американском сериале-комедии «Как я встретил вашу маму». Ким Кардашиан получила славу одной из самых активных тусовщиц Голливуда наряду с Николь Ричи, Пэрис Хилтон и Линдсей Лохан. Слава к девушке пришла в 2007-м, когда вся большая семья Кардашиан снялась в популярном шоу «Семейство Кардашиан», которое составило целых пять сезонов. В 2008 году неугомонная Ким выпустила DVD Workout with Kim Kardashian со своими тренировками.
    </div>
</div>