<div class="breadcrumbps">
    <% for(var i = 0; i < value.length - 1; i++) { %>
        <a href="#" class="breadcrumbps_link"><%- value[i] %></a>
        <span class="breadcrumbps_delimiter">/</span>
    <% } %>
    <span class="breadcrumbps_current"><%- value[value.length - 1] %></span>
</div>