<a class="button <%- cssMod ? cssMod : ''%>" <%- href ? 'href="' + href + '"' : '' %>>
    <% if (icon) { %>
        <%- partial(icon, {
            cssMod: "__inline"
        }) %>
    <% } %>
    <% if (value) { %>
        <%- value %>
    <% } %>
</a>