<div class="chats">
    <div class="chat-contacts">
        <div class="responsive-switcher">
            <div class="responsive-switcher_default chats_heading">
                <%- partial("_heading-primary", {
                    title: "Личные сообщения"
                }); %>
            </div>
            <div class="responsive-switcher_tablet"></div>
        </div>

        <div class="chat-contacts_list">
            <% for(var i = 0, contact; i < value.contacts.length; i++) { contact = value.contacts[i]; %>
                <a href="<%- contact.href %>" class="chat-contacts_item <%- contact["is-active"] ? '__active' : ''%>">
                    <div class="chat-contacts_avatar">
                        <%- partial("_user-avatar", {
                            value: contact.avatar,
                            cssMod: "__chat-contact"
                        }); %>
                    </div>
                    <div class="chat-contacts_info">
                        <div class="chat-contacts_user-name"><%- contact.name %></div>
                        <div class="chat-contacts_timestamp"><%- contact.timestamp %></div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
    <div class="chat-messages">
        <div class="responsive-switcher">
            <div class="responsive-switcher_default chats_heading">
                <div class="chat-messages-owner">
                    <%- partial("_heading-primary", {
                        title: value.messages.owner.name,
                        breadcrumbps: [
                            "Все новости",
                            "Мода"
                        ]
                    }); %>
                    <div class="chat-messages-owner_avatar">
                        <%- partial("_user-avatar", {
                            value: value.messages.owner.avatar
                        }); %>
                    </div>
                </div>
            </div>
            <div class="responsive-switcher_tablet"></div>
        </div>
        <div class="chat-messages_list">
            <% for(var j = 0, post; j < value.messages.list.length; j++) { post = value.messages.list[j]; %>
                <div class="chat-messages_item">
                    <div class="chat-messages_author">
                        <div class="chat-messages_avatar">
                            <%- partial("_user-avatar", {
                                value: post.avatar,
                                cssMod: "__chat-participant"
                            }); %>
                        </div>
                        <div class="chat-messages_author-name">
                            <%- post.name %>
                        </div>
                    </div>
                    <% for(var k = 0, message; k < post.message.length; k++) { message = post.message[k];  %>
                        <div class="chat-messages_hld">
                            <div class="chat-messages_cnt"><%- message.text %></div>
                            <div class="chat-messages_info">
                                <div class="chat-messages_timestamp"><%- message.timestamp %></div>
                                <div class="chat-messages_actions <%- message["can-delete"] ? '__active' : '' %>">
                                    <span class="icon __inline icon_trash"></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="chat-messages_posting-form">
            <form class="chat-messages_posting-form-cnt">
                <div class="chat-messages_posting-message">
                    <textarea class="chat-messages_posting-area" name="message"><%- value.posting %></textarea>
                </div>
                <button class="chat-messages_posting-button" type="submit">
                    <div class="icon icon_message"></div>
                </button>
            </form>
        </div>
    </div>
</div>