<div class="comment <%- value.cssMod ? value.cssMod : ''%> <%- value['comment-rating'] < 0 ? '__hidden' : '' %>">
    <%if (value.name) { %>
        <div class="comment_user">
            <a href="#" class="comment_avatar">
                <%- partial("_user-avatar", {
                    value: value.avatar,
                    cssMod: '__comment'
                }); %>
            </a>
            <%- partial("_user-info", {
                value: {
                    name: value.name,
                    rating: value['user-rating']
                }
            }); %>
        </div>
    <% } %>
    <div class="comment_body">
        <div class="comment_content">
            <%if (value.title) { %>
                <div class="comment_title"><%- value.title %></div>
            <% } %>
            <%if (value.reply) { %>
                <div class="comment_reply"><%- value.reply %></div>
            <% } %>
            <div class="comment_text"><%- value.text %></div>
        </div>
        <div class="comment_stub">
            <div class="comment_stub-title">Комментарий скрыт</div>
            <div class="comment_stub-action">Показать</div>
        </div>
        <%if (value['timestamp']) { %>
            <div class="comment_actions">
                <span class="comment_action">Ответить</span>
                <span class="comment_action"><%- value['timestamp'] %></span>
            </div>
        <% } %>
    </div>
    <%if (value['comment-rating'] !== null) { %>
        <div class="comment_rating js-hook" data-module="comment/CommentRating" data-comment-id="12">
            <div class="comment_rating-control __increase js-increase">+</div>
            <div class="comment_rating-value <%- value['comment-rating'] > 100 ? '__positive' : '' %>">
                <%- value['comment-rating'] %>
            </div>
            <div class="comment_rating-control __decrease js-decrease">&minus;</div>
        </div>
    <% } %>
</div>