<div class="comment-preview">
    <div class="comment-preview_avatar">
        <%- partial("_user-avatar", {
            value: avatar
        }); %>
    </div>

    <div class="comment-preview_text">
        <%= text %>
    </div>

    <div class="comment-preview_actions">
        <a class="comment-preview_action" href="#">Ответить</a>
        <a class="comment-preview_action" href="#">Комментировать</a>
    </div>
</div>