<div class="comments-list">
    <% for(var i = 0; i < value.length; i++) { %>
        <div class="comments-list_item">
            <%- partial("_comment", { value: value[i] }); %>
        </div>
        <% if (i === 0) { %>
            <div class="comments-list_item">
                 <%- partial("_portlet-horizontal-banner2", { value: 'banner4.jpg'}); %>
            </div>
        <% } %>
    <% } %>
    <div class="comments-list_item">
        <%- partial("_comment-stub"); %>
    </div>
</div>