<form class="comment-form">
    <div class="comment-form_user">
        <a href="#" class="comment-form_avatar">
            <%- partial("_user-avatar", {
                value: 'avatar1.jpg',
                cssMod: '__comment'
            }); %>
        </a>
        <%- partial("_user-info", {
            value: {
                name: 'udavf'
            }
        }); %>
    </div>

    <div class="comment-form_cnt">
        <div class="comment-form_body">
            <textarea class="comment-form_posting-area" name="message" id="comment-area">Вот это сет! Офигительно! Очень понравился портрет</textarea>
        </div>

        <div class="comment-form_footer">
            <button type="submit" class="button">Отправить</button>
        </div>
    </div>
</form>