<div class="feed-pagination">
    <div class="feed-pagination_left">
        <%- partial("_pagination", {
            pages: [
                {
                    value: 'Назад',
                    href: "#",
                    role: 'button'
                },
                {
                    value: 1,
                    href: "#",
                    role: 'link'
                },
                {
                    value: 2,
                    href: "#",
                    role: 'link'
                },
                {
                    value: '...',
                    role: 'stub'
                },
                {
                    value: 10,
                    role: 'current'
                },
                {
                    value: '...',
                    role: 'stub'
                },
                {
                    value: 1000,
                    href: "#",
                    role: 'link'
                },
                {
                    value: 1001,
                    href: "#",
                    role: 'link'
                },
                {
                    value: 'Вперед',
                    href: "#",
                    role: 'button',
                    cssMod: '__next'
                }
            ]
        }); %>
    </div>
    <div class="feed-pagination_right">
        <a class="feed-pagination_a" href="#">Архив</a>
    </div>
</div>