<footer class="footer">
    <div class="default-container">
        <div class="footer_top">
            <div class="footer_cell">
                <div class="footer_logo">ПОПКОРНNEWS</div>
            </div>
            <div class="footer_cell">
                <a class="footer_primary-link" href="#">Новости</a>
                <a class="footer_primary-link" href="#">Персоны</a>
                <a class="footer_primary-link" href="#">Вход</a>
            </div>
            <div class="footer_cell __last">
                <div class="footer_social">
                    <span class="footer_social-text">
                        Присоединяйся к нам:
                    </span>
                    <div class="footer_cell">
                        <a class="social-icon __vk" href="#"></a>
                        <a class="social-icon __fb" href="#"></a>
                        <a class="social-icon __ok" href="#"></a>
                        <a class="social-icon __tw" href="#"></a>
                        <a class="social-icon __tg" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_categories">
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Звезды</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Marvel</a>
                    <a class="footer_category-link-a" href="#">Американская история ужасов</a>
                    <a class="footer_category-link-a" href="#">Благотворительность</a>
                    <a class="footer_category-link-a" href="#">Болезнь</a>
                    <a class="footer_category-link-a" href="#">Видео</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Мода</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Дети</a>
                    <a class="footer_category-link-a" href="#">Дни Рождения</a>
                    <a class="footer_category-link-a" href="#">Дом 2</a>
                    <a class="footer_category-link-a" href="#">Другие светские мероприятия</a>
                    <a class="footer_category-link-a" href="#">Евровидение Животные</a>
                    <a class="footer_category-link-a" href="#">Записки Мидды</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Красота</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Интервью</a>
                    <a class="footer_category-link-a" href="#">Интересные штучки</a>
                    <a class="footer_category-link-a" href="#">Итоги года 2018</a>
                    <a class="footer_category-link-a" href="#">Книги / комиксы</a>
                    <a class="footer_category-link-a" href="#">Монархи</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Кино</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Развод, разрыв, измены</a>
                    <a class="footer_category-link-a" href="#">Рекламная кампания</a>
                    <a class="footer_category-link-a" href="#">Самые-самые</a>
                    <a class="footer_category-link-a" href="#">Свадьба, помолвка</a>
                    <a class="footer_category-link-a" href="#">Скандалы и события</a>
                    <a class="footer_category-link-a" href="#">Смерть</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">ТВ и сериалы</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Интервью</a>
                    <a class="footer_category-link-a" href="#">Интересные штучки</a>
                    <a class="footer_category-link-a" href="#">Итоги года 2018 Книги / комиксы</a>
                    <a class="footer_category-link-a" href="#">Монархи</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Музыка</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Marvel</a>
                    <a class="footer_category-link-a" href="#">Американская история ужасов</a>
                    <a class="footer_category-link-a" href="#">Благотворительность</a>
                    <a class="footer_category-link-a" href="#">Болезнь</a>
                    <a class="footer_category-link-a" href="#">Видео</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Ру</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Дети</a>
                    <a class="footer_category-link-a" href="#">Дни Рождения</a>
                    <a class="footer_category-link-a" href="#">Дом 2</a>
                    <a class="footer_category-link-a" href="#">Другие светские мероприятия</a>
                    <a class="footer_category-link-a" href="#">Евровидение Животные</a>
                    <a class="footer_category-link-a" href="#">Записки Мидды</a>
                </div>
            </div>
            <div class="footer_cell">
                <div class="footer_category-title"><a class="footer_category-title-a" href="#">Hot 🌶</a></div>
                <div class="footer_category-links">
                    <a class="footer_category-link-a" href="#">Персоны</a>
                    <a class="footer_category-link-a" href="#">Lady GaGa</a>
                    <a class="footer_category-link-a" href="#">Анджелина Джоли</a>
                    <a class="footer_category-link-a" href="#">Бейонсе Ноулз</a>
                    <a class="footer_category-link-a" href="#">Бритни Спирс</a>
                    <a class="footer_category-link-a" href="#">Брэд Питт</a>
                </div>
            </div>
        </div>
        <div class="footer_description">
            Зная всё о кино, хочется поделиться этим с другими. Делитесь фильмами, трейлерами, персонами и новостями в социальных сетях, присваивайте рейтинги фильмам и обсуждайте их с друзьями и подписчиками! Интересные фильмы, ближайшие кинотеатры и любимых актеров можно добавлять в «Избранное». Система покажет все связанные с ними новости и новые трейлеры, подскажет, когда можно купить билет в кино на интересующую премьеру. Присоединяйтесь! Подробнее на https://www.kinoafisha.info/
        </div>
        <div class="footer_navigation">
            <a class="footer_navigation-a" href="#">О проекте</a>
            <a class="footer_navigation-a" href="#">Вакансии</a>
            <a class="footer_navigation-a" href="#">Политика конфиденциальности</a>
            <a class="footer_navigation-a" href="#">Контакты</a>
            <a class="footer_navigation-a" href="#">Написать письмо</a>
            <a class="footer_navigation-a" href="#">Мобильная версия</a>
            <a class="footer_navigation-a" href="#">18+</a>
        </div>
        <div class="footer_disclaimer">
            © 2007-2019 Все права и материалы принадлежат «POPCORNNEWS»<br/>
            При копировании информации ставить активную ссылку на сайт www.popcornnews.ru
        </div>
    </div>
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
</footer>