<nav class="header-navigation" id="header-navigation">
    <div class="horizontal-scrollable">
        <% for(var i = 0; i < public._data['header-navigation'].length; i++) { %>
            <div class="header-navigation_item">
                <a class="header-navigation_a" href="<%= public._data['header-navigation'][i].href %>">
                    <%= public._data['header-navigation'][i].title %>
                </a>
            </div>
        <% } %>
    </div>
</nav>
<script src="./js/sync.js"></script>