<div class="heading-primary">
    <%if (breadcrumbps) { %>
        <%- partial("_breadcrumbps", {
            value: breadcrumbps
        }); %>
    <%} %>
    <div class="heading-primary_main">
        <h1 class="heading-primary_title"><%- title %></h1>
        <%if (action) { %>
            <a class="heading-primary_action" href="<%- href %>"><%- action %></a>
        <% } %>
    </div>
    <%if (lead) { %>
        <div class="heading-primary_lead">
            <%- lead %>
        </div>
    <% } %>
    <%if (tags) { %>
        <div class="heading-primary_tags">
            <%- partial("_articles-tags"); %>
        </div>
    <%} %>
</div>