<header class="header __anonym1 js-hook" data-module="Toolbar">
    <div class="header_cnt">
        <div class="header_search-controls">
            <div class="header_search-controls-icon">
                <div class="header_search-controls-search icon icon_search-small"></div>
                <div class="header_search-controls-cancel icon icon_close-small"></div>
            </div>
            <div class="header_search-controls-text">Звезды, сплетни,<br />комментарии</div>
        </div>
        <a href="./" class="header_logo">ПОПКОРНNEWS</a>
        <div class="header_menu">
            <a class="header_menu-item" href="#">Новости</a>
            <a class="header_menu-item" href="#">Звезды</a>
            <a class="header_menu-item" href="#">Мода</a>
            <a class="header_menu-item" href="#">Красота</a>
            <a class="header_menu-item" href="#">Кино, тв и сериалы</a>
            <a class="header_menu-item" href="#">Музыка</a>
            <a class="header_menu-item" href="#">ru</a>
            <a class="header_menu-item" href="#">HOT 🌶</a>
        </div>
        <div class="header_actions">
            <div class="header_anonym">
                <a class="header_login-button js-hook" data-module="LoginButton" href="#">Войти</a>
            </div>
            <div class="header_authorized">
                <a class="header_favorite-button" href="#">
                    <div class="icon icon_heart-white"></div>
                </a>
                <a class="header_message-button" href="#">
                    <%- partial("_comments-bubble", {
                        value: 4,
                        cssMod: '__toolbar'
                    }); %>
                </a>
                <a class="header_profile-button" href="#">
                    <%- partial("_user-avatar", {
                        value: 'avatar1.jpg',
                        cssMod: '__toolbar'
                    }); %>
                </a>
            </div>
        </div>

        <div class="header_search js-hook" data-module="Search">
            <form class="header_search-input">
                <input type="text" name="query" class="header_search-text" placeholder="Поиск..." />
                <button class="header_search-button button">
                    Найти
                    <div class="icon __inline icon_search-small"></div>
                </button>
            </form>
            <div class="header_search-suggest">
                <div class="header_search-section">
                    <div class="header_search-section-title">Теги</div>
                    <div class="header_search-section-cnt">
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">Анжелина Джоли</a>
                        </div>
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">Бред Пит</a>
                        </div>
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">Красота</a>
                        </div>
                    </div>
                </div>
                <div class="header_search-section">
                    <div class="header_search-section-title">Новости</div>
                    <div class="header_search-section-cnt">
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">О чем они только думали: самые нелепые и неудачные наряды звезд на «Золотом глобусе»</a>
                        </div>
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">Телепрограмма на сегодня, 6 января 2019, для всех каналов</a>
                        </div>
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">Мизинец выжил, а Бран Старк стал Королем Ночи: топ 5 фанатских теорий о финале «Игры престолов»</a>
                        </div>
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a">Благодаря «Черной Пантере» Летишиа Райт номинирована на «британский Оскар» как восходящая звезда</a>
                        </div>
                        <div class="header_search-section-item">
                            <a href="#" class="header_search-section-item-a __sec">Все новости...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>