<div class="horizontal-scrollable">
    <div class="hot-articles-preview">
        <% for(var i = 0; i < public._data['hot-articles'].length; i++) { %>
            <div class="hot-articles-preview_column">
                <%- partial("_article-preview-short", {
                    category: public._data['hot-articles'][i].category,
                    title: public._data['hot-articles'][i].title
                }); %>
            </div>
        <% } %>
    </div>
</div>