<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14">
    <g fill-rule="evenodd" stroke-width="0" opacity=".2">
        <path d="M0 0H5V2H0z"/>
        <path d="M8 0H14V2H8z"/>
        <path d="M0 0H2V14H0z"/>
        <path d="M12 0H14V6H12z"/>
        <path d="M12 9H14V14H12z"/>
        <path d="M0 12H14V14H0z"/>
        <path stroke-width="2" d="M12.5 1.5L7 7"/>
    </g>
</svg>