<div class="pagination">
    <% for(var i = 0; i < pages.length; i++) { %>
        <% switch (pages[i].role) {
            case 'button' : %>
            <a class="button pagination_button <%= pages[i].cssMod ? pages[i].cssMod : '' %>" href="<%= pages[i].href %>">
                <%= pages[i].value %>
            </a>
            <% break;

            case 'link' : %>
            <a class="pagination_link" href="<%= pages[i].href %>">
                <%= pages[i].value %>
            </a>
            <% break;

            case 'stub' : %>
            <span class="pagination_stub">
                <%= pages[i].value %>
            </span>
            <% break;

            case 'current' : %>
            <span class="pagination_current">
                <%= pages[i].value %>
            </span>
            <% break;
        } %>
    <% } %>
</div>