<div class="persons-alphabet-list">
    <% for(var i = 0, item; i < public._data['persons']['alphabet'].length; i++) { item = public._data['persons']['alphabet'][i] %>
        <section class="persons-alphabet-list_letter">
            <div class="persons-alphabet-list_letter-title"><%= item.letter %></div>
            <div class="persons-alphabet-list_letter-list">
                <% for(var j = 0, card; j < item.list.length; j++) { card = item.list[j] %>
                    <a href="<%= card.href %>" class="persons-alphabet-list_letter-item">
                        <div class="persons-alphabet-list_letter-name"><%= card.name %></div>
                        <div class="persons-alphabet-list_letter-original-name"><%= card['original-name'] %></div>
                    </a>
                <% } %>
            </div>
        </section>
    <% } %>
</div>