<div class="persons-photo-list">
    <% for(var i = 0, item; i < public._data['persons']['with-photo'].length; i++) { item = public._data['persons']['with-photo'][i] %>
        <div class="persons-photo-list_item">
            <div class="persons-photo-list_card">
                <a class="persons-photo-list_media" href="<%= item.href %>">
                    <img src="./img/persons/<%= item.image %>" class="persons-photo-list_img" />
                </a>
                <a href="<%= item.href %>" class="persons-photo-list_info">
                    <div class="persons-photo-list_name"><%= item.name %></div>
                    <div class="persons-photo-list_original-name"><%= item['original-name'] %></div>
                </a>
                <%if (item['is-favorite']) { %>
                    <div class="persons-photo-list_action">
                        <span class="icon icon_heart"></span>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>