<div class="person-talks-header">
    <div class="person-talks-header_top">
        <div class="person-talks-header_avatar">
            <%- partial("_user-avatar", {
                value: "avatar1.jpg",
                cssMod: '__profile'
            }); %>
        </div>
        <div class="person-talks-header_title">
            <%- partial("_heading-primary", {
                title: "Зови меня своим именем / Call Me by Your Name / Палата #69",
                breadcrumbps: [
                    "Персоны",
                    "Арми Хаммер",
                    "Обсуждения"
                ]
            }); %>
        </div>
    </div>
    <div class="person-talks-header_bottom">
        <div class="person-talks-header_user">
            <%- partial("_user-info", {
                value: {
                    name: "intvinvented",
                    rating: 4078
                }
            }); %>
        </div>
        <div class="person-talks-header_action">
            <a href="#">
                <%- partial("_comments-bubble", {
                    value: "Написать",
                    cssMod: "__text"
                }); %>
            </a>
        </div>
        <div class="person-talks-header_pagination">
            <%- partial("_pagination", {
                pages: [
                    {
                        value: 1,
                        role: 'current'
                    },
                    {
                        value: 2,
                        href: "#",
                        role: 'link'
                    },
                    {
                        value: 3,
                        href: "#",
                        role: 'link'
                    },
                    {
                        value: 4,
                        href: "#",
                        role: 'link'
                    },
                    {
                        value: '...',
                        role: 'stub'
                    },
                    {
                        value: "Последняя",
                        href: "#",
                        role: 'link'
                    }
                ]
            }); %>
        </div>
    </div>
</div>