<div class="person-card">
    <div class="person-card_photo-wrapper">
        <div class="person-card_photo">
            <div class="person-card_background">
                <img class="person-card_img" src="./img/person/<%- value["image"] %>"/>
            </div>
            <div class="person-card_cnt">
                <div class="person-card_top">
                    <%- partial("_breadcrumbps", {
                        value: [
                            "Персоны",
                            value["name"]
                        ]
                    }); %>
                </div>
                <div class="person-card_bottom">
                    <div class="person-card_name">
                        <%- value["name"] %>
                    </div>
                    <div class="person-card_tabs">
                        <%- partial("_tabs", {
                            value: value["tabs-model"]
                        }); %>
                    </div>
                </div>
            </div>
        </div>

        <div class="person-card_favorite js-hook <%- value["is-favorite"] ? '__is-favorite' : '' %>" data-module="favorite/PersonCardFavorite">
            <% if (value["is-favorite"]) { %>
                <div class="responsive-switcher">
                    <div class="responsive-switcher_default">
                        <span class="icon __inline icon_heart"></span> в избранном
                    </div>
                    <div class="responsive-switcher_tablet">
                        <%- partial("_button", {
                            value: null,
                            icon: "_icon-heart"
                        }); %>
                    </div>
                </div>
            <% } else { %>
                <%- partial("_button", {
                    value: "В избранное",
                    icon: "_icon-heart"
                }); %>
            <% } %>
        </div>
    </div>
    
    <% if (value["text"]) { %>
        <div class="person-card_description">
            <%- value["text"] %>
        </div>
    <% } %>
</div>