<div class="person-talks">
    <div class="person-talks_hld">
        <div class="person-talks_actions">
            <div class="person-talks_title-cell">
                <%- partial("_button", {
                    value: "Создать тему",
                    cssMod: "__small"
                }); %>
            </div>
            <div class="person-talks_comments-cell"><span class="person-talks_actions-text">Комментарии</span></div>
            <div class="person-talks_timestamp-cell"><span class="person-talks_actions-text">Последнее сообщение</span></div>
        </div>
        <div class="person-talks_cnt">
            <div class="person-talks_list">
                <% for(var i = 0, item; i < value.length; i++) { item = value[i] %>
                    <div class="person-talks_item">
                        <div class="person-talks_title-cell">
                            <a class="person-talks_title-link" href="<%- item['href'] %>"><%- item['title'] %></a>
                        </div>
                        <div class="person-talks_comments-cell">
                            <span class="person-talks_comments-count">
                                <%- item['comments']['count'] %>
                            </span>
                            <span class="person-talks_comments-text">комментария</span>
                        </div>
                        <div class="person-talks_timestamp-cell">
                            <span class="person-talks_comments-timestamp">
                                <%- item['timestamp'] %>
                            </span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="person-talks_footer">
        <%- partial("_portlet-horizontal-banner2", { value: 'banner4.jpg'}); %>
    </div>
</div>