<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url(/img/pixel-perfect/<%- overlay %>.jpg); background-position: 50% 0; background-repeat: no-repeat; opacity: 0.5; z-index: 9999; pointer-events: none;"></div>