<div class="horizontal-banner">
    <a class="horizontal-banner_a" href="#">
        <div class="horizontal-banner_cnt">
            <div class="horizontal-banner_title">Реклама</div>
            <img class="horizontal-banner_img" src="./img/banner/<%= value %>" />
        </div>
    </a>
</div>