<section class="important-tags">
    <h1 class="important-tags_title">Важные темы</h1>
    <div class="important-tags_list">
        <% for(var i = 0; i < public._data['important-tags'].length; i++) { %>
            <span class="important-tags_item">
                <%- partial("_outline-tag", {
                    value: public._data['important-tags'][i].title
                }); %>
            </span>
        <% } %>
    </div>
</section>