<section class="top-discussing">
    <h1 class="top-discussing_title">Самое обсуждаемое 🔥</h1>
    <div class="top-discussing_list">
        <div class="horizontal-scrollable">
            <% for(var i = 0; i < public._data['top-discussing'].length; i++) { %>
                <div class="top-discussing_item">
                    <div class="top-discussing_item-info">
                        <%- partial("_counter-bubble", {value: i + 1}); %>
                    </div>
                    <a href="#" class="top-discussing_item-title">
                        <%= public._data['top-discussing'][i].title %>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</section>

