<section class="new-comments">
    <h1 class="new-comments_title">Новые комментарии</h1>
    <div class="new-comments_list">
        <% for(var i = 0; i < public._data['new-comments'].length; i++) { %>
            <div class="new-comments_item">
                <a href="#" class="new-comments_item-title">
                    <%= public._data['new-comments'][i].title %>
                </a>
                <div class="new-comments_item-info">
                    <a href="#" class="new-comments_item-comments">
                        <%- partial("_comments-bubble", {
                            value: public._data['new-comments'][i]['comments']['count'],
                            cssMod: '__small'
                        }); %>
                    </a>
                    <a href="#" class="new-comments_item-avatar">
                        <%- partial("_user-avatar", {
                            value: public._data['new-comments'][i].avatar,
                            cssMod: '__small'
                        }); %>
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</section>