<div class="profile-card">
    <div class="profile-card_avatar">
        <%- partial("_user-avatar", {
            value: value.avatar,
            cssMod: '__profile'
        }); %>
    </div>
    <div class="profile-card_user-name">
        <%- value.name %>
    </div>
    <div class="profile-card_rating">
        <%- value.rating %>
    </div>
    <div class="profile-card_top-slot">
        <%- value.timestamp %>
    </div>
    <div class="profile-card_actions">

        <div class="profile-card_aux-action __left"></div>

        <div class="profile-card_primary-action">
            <%- partial("_tabs", {
                value: value["tabs-model"]
            }); %>
        </div>
        <div class="profile-card_aux-action __right">
            <a href="#" class="profile-card_write-message">
                <%- partial("_comments-bubble", {
                    value: "Написать",
                    cssMod: "__text"
                }); %>
                <div class="profile-card_write-message-text">
                    Личное сообщение
                </div>
            </a>
        </div>
    </div>
</div>