<div class="profile-card">
    <div class="profile-card_avatar">
        <%- partial("_user-avatar", {
            value: value.avatar,
            cssMod: '__profile'
        }); %>
    </div>
    <div class="profile-card_user-name">
        <%- value.name %>
    </div>
    <div class="profile-card_rating">
        <%- value.rating %>
    </div>
    <div class="profile-card_top-slot">
        <a class="profile-card_top-link" href="#">Редактировать</a>
        <a class="profile-card_top-link" href="#">Выйти</a>
    </div>
    <div class="profile-card_actions">

        <div class="profile-card_aux-action __left">
            <a class="profile-card_aux-link" href="#">
                Новости любимых персон
            </a>
        </div>

        <div class="profile-card_primary-action">
            <%- partial("_tabs", {
                value: value["tabs-model"]
            }); %>
        </div>
        <div class="profile-card_aux-action __right">
            <a class="profile-card_aux-link" href="#">
                Личные сообщения
            </a>
        </div>
    </div>
</div>