<div class="profile-card">
    <div class="profile-card_avatar __upload">
        <%- partial("_upload-stub"); %>
    </div>
    
    <div class="profile-card_edit-form">
        <form class="form">
            <div class="form_i">
                <label for="nickname" class="form_label">Ник</label>
                <%- partial("_base-input", {
                    id: "nickname",
                    name: "nickname",
                    value: value.name,
                    type: "text"
                }); %>
            </div>

            <div class="form_i">
                <label for="password" class="form_label">Новый пароль</label>
                <%- partial("_base-input", {
                    id: "password",
                    name: "password",
                    type: "password"
                }); %>
            </div>

            <div class="form_i">
                <label for="password2" class="form_label">Новый пароль еще раз</label>
                <%- partial("_base-input", {
                    id: "password2",
                    name: "password2",
                    type: "password"
                }); %>
            </div>

            <div class="form_i">
                <label for="email" class="form_label">E-mail</label>
                <%- partial("_base-input", {
                    id: "email",
                    name: "email",
                    type: "email",
                    value: ""
                }); %>
            </div>

            <div class="form-actions">
                <div class="form-actions_left"></div>
                <div class="form-actions_center">
                    <a class="form-actions_no" href="#">Отменить</a>
                    <button class="form-actions_yes button" type="submit">Сохранить</button>
                </div>
                <div class="form-actions_right">
                    <div class="form_error">
                        Место для ошибок
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>