<div class="similar-news">
    <div class="similar-news_preview">
        <div class="similar-news_top">
            <div class="similar-news_info">
                <div class="similar-news_category">
                    <a class="category" href="#">
                        <%- value.category %>
                    </a>
                </div>
                <div class="similar-news_counter">
                    <%- partial("_counter-bubble", {
                        value: value.counter
                    }); %>
                </div>
            </div>
            <div class="similar-news_title">
                <a class="similar-news_title-a" href="#">
                    <%- value.title %>
                </a>
            </div>
        </div>
        <a class="similar-news_media" href="#">
            <img class="similar-news_img" src="./img/bg/<%- value.image %>" />
        </a>
    </div>
    <div class="similar-news_aside">
        <div class="similar-news_list">
            <% for(var i = 0; i < value.news.length; i++) { %>
                <div class="similar-news_link">
                    <a class="similar-news_link-a" href="#">
                        <%- value.news[i].title %>
                    </a>
                </div>
            <% } %>
        </div>
        <div class="similar-news_more">
            <a class="similar-news_more-link" href="#">
                Больше новостей
            </a>
        </div>
    </div>
</div>