<div class="articles_tags">
    <% for(var i = 0; i < public._data['similar-tags'].length; i++) { %>
        <span class="articles_tags-item">
            <%- partial("_outline-tag", {
                value: public._data['similar-tags'][i].title,
                icon: public._data['similar-tags'][i].image
            }); %>
        </span>
    <% } %>
</div>