<aside class="wrapper_aside column __width-1">
    <div class="column-container row-container">
        <div class="column __width-1">
            <div class="js-hook sticky-column" data-module="StickyBlock">
                <div class="sticky-column_cnt">
                    <%- partial("_portlet-vertical-banner"); %>
                    <%- partial("_portlet-new-comments"); %>
                </div>
            </div>
        </div>
    </div>
</aside>