<div class="tabs">
    <% for(var i = 0; i < value.length; i++) { %>
        <div class="tabs_item <%- value[i]['is-active'] ? '__active' : '' %>">
            <%- value[i].text %>
        </div>
    <% } %>
</div>