<div class="user-avatar <%- value ? '' : '__stub'%> <%- cssMod ? cssMod : ''%>">
    <%if (value) { %>
        <img class="user-avatar_img" src="./img/user-avatar/<%- value %>" />
    <% } %>    
</div>