<#compress>
<div class="share-block __isolated">
    <div class="share-block_buttons">
        <div class="ya-share2" id="linkShare" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
    </div>
</div>
</#compress>