<#compress>
<div class="login">
    <div class="login_i">
        <div class="login_title">Войти как пользователь</div>
        <div class="login_social">
            <span class="login_social-button __vk">Вконтакте</span>
            <span class="login_social-button __fb">Фейсбук</span>
            <span class="login_social-button __ok">Одноклассники</span>
        </div>
    </div>
    <div class="login_i">
        <div class="login_title">Или войдите по логину Попкорньюс</div>
        <div class="login_form">
            <form class="form">
                <div class="login_form-item">
                    <input class="base-input" type="email" id="email" name="email" placeholder="E-mail" />
                </div>
                <div class="login_form-item">
                    <input class="base-input" type="password" id="password" name="password" placeholder="Пароль" />
                </div>
                <div class="login_form-remember">
                    <input class="checkbox" type="checkbox" name="remember" id="remember">
                    <label for="remember">Не запоминать меня</label>
                </div>
                <div class="login_form-submit-cnt">
                    <#if (formError)>
                        <div class="login_form-error">
                            <div class="form_error">
                                Неверное имя или пароль
                            </div>
                        </div>
                    </#if>
                    <input type="hidden" name="submit" value="true" />
                    <button class="login_form-submit button __wide" type="submit">Войти</button>
                </div>
                <div class="login_form-recover">
                    <a href="#" class="login_form-link js-recover">Восстановить пароль</a>
                </div>
            </form>
        </div>
    </div>

    <div class="login_footer">
        <div class="login_footer-cnt">
            Нет логина? <a class="login_footer-cnt-link js-register" href="#">Зарегистрируйтесь</a>
        </div>

        <div class="login_footer-note">
            Авторизовываясь, вы соглашаетесь с <a class="login_footer-link" href="#">правилами использования сайта</a>
        </div>
    </div>
</div>
</#compress>