@import "../_utils.less";

.article-tag {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 13px;
    color: @secondaryColor;
    text-decoration: none;
    margin-right: 16px;

    &:after {
        content: '∙';
        position: absolute;
        top: 0;
        right: -12px;
        cursor: default;
        pointer-events: none;
        }

    &:last-child {
        margin-right: 0;
        
        &:after {
            content: '';
            }
        }

    &.__accent {
        border: 1px @accentColor solid;
        padding: 0 15px;
        }
    }