@import "../_utils.less";

.base-input {
    .headingBold();
    display: block;
    height: 40px;
    line-height: 38px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px #DDDDDD solid;
    border-radius: 3px;
    font-size: 15px;
    outline: none;

    &::placeholder {
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: @auxColor;
        }
    }