@import "../_utils.less";


.breadcrumbps {
    font-size: 0;
    color: @secondaryColor;
    margin-bottom: 10px;
    }

    .breadcrumbps_link {
        font-size: 11px;
        line-height: 1.23;

        .tablet-breakpoint({
            font-size: 13px;
            })
        }

    .breadcrumbps_delimiter {
        margin: 0 6px;
        font-size: 11px;
        line-height: 1.23;

        .tablet-breakpoint({
            font-size: 13px;
            })
        }

    .breadcrumbps_current {
        font-size: 11px;
        line-height: 1.23;

        .tablet-breakpoint({
            font-size: 13px;
            })
        }