.button {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 3px;
    line-height: 38px;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(0deg, #FF008A 0%, #CF00AD 100%);
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 0 none;

    &.__small {
        height: 30px;
        line-height: 28px;
        }

    &.__wide {
        width: 100%;
        }

    & .icon {
        vertical-align: middle;
        color: #fff;
        }
    }