@import "../_utils.less";

.comment {
    position: relative;
    padding: 20px;
    background-color: #fff;

    &.__accent {
        background-color: #f8f8f8;
        }

    .tablet-breakpoint({
        display: flex;
        padding: 30px 40px;
        })
    }

    .comment_user {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 10px;
        margin-right: 60px;

        .comment.__hidden & {
            opacity: 0.2;
            }

        .tablet-breakpoint({
            margin-right: 20px;
            flex-direction: column;
            width: 190px;
            align-items: flex-start;
            min-width: 0;
            flex-shrink: 0;
            })
        }

        .comment_avatar {
            margin-right: 8px;

            .tablet-breakpoint({
                margin-bottom: 10px;
                })
            }

    .comment_body {
        font-size: 14px;
        line-height: 1.28;
        flex-grow: 1;
        }

        .comment_title {
            .wordWrap(true);
            font-weight: 700;
            margin-bottom: 10px;

            .tablet-breakpoint({
                font-size: 13px;
                line-height: 1.23;
                })
            }

        .comment_reply {
            .wordWrap(true);
            color: @auxColor;
            margin-bottom: 10px;

            .tablet-breakpoint({
                font-size: 13px;
                line-height: 1.23;
                })
            }

        .comment_text {
            .wordWrap(true);
            margin-bottom: 10px;

            .tablet-breakpoint({
                font-size: 15px;
                line-height: 1.33;
                });

            & img {
                display: block;
                margin: 5px 0;
                max-width: 100%;
                }
            }

        .comment_stub-title {
            margin-bottom: 10px;
            color: @auxColor;

            .tablet-breakpoint({
                font-size: 15px;
                line-height: 1.33;
                });
            }

        .comment_stub-action {
            margin-bottom: 10px;
            cursor: pointer;

            .tablet-breakpoint({
                margin-bottom: 20px;
                font-size: 15px;
                line-height: 1.33;
                });
            }

        .comment_content {

            .comment.__hidden & {
                display: none;
                }
            }

        .comment_stub {
            display: none;

            .comment.__hidden & {
                display: block;
                }
            }

        .comment_actions {
            font-size: 13px;
            line-height: 1.53;
            color: @auxColor;

            .comment.__hidden & {
                opacity: 0.2;
                }
            }

            .comment_action {

                & + & {
                    margin-left: 15px;
                    }
                }

    .comment_rating {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        top: 21px;
        right: 20px;

        .tablet-breakpoint({
            position: relative;
            top: 0;
            right: 0;
            flex-shrink: 0;
            margin-left: 70px;
            text-align: center;
            });
        }

        .comment_rating-control {
            display: none;
            height: 22px;
            min-width: 35px;
            color: #fff;
            border-radius: 3px;
            margin: 3px 0;
            cursor: pointer;

            &.__increase {
                background-color: #417505;
                }

            &.__decrease {
                background-color: #D0021B
                }

            .tablet-breakpoint({
                display: block;
                visibility: hidden;

                .comment_rating:hover & {
                    visibility: visible;
                    }
                })
            }

        .comment_rating-value {
            font-size: 13px;
            line-height: 1.53;
            font-weight: 700;

            &.__positive {
                color: #417505;
                }

            &.__negative {
                color: #D0021B;
                }
            }