@import "../_utils.less";

.comments-bubble {
    .headingBold();
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 31px;
    box-sizing: border-box;
    padding: 0 10px;
    min-width: 30px;
    border-radius: 3px 3px 3px 0;
    font-size: 19px;
    color: #fff;
    text-align: center;
    background: linear-gradient(0deg, #FF008A 0%, #CF00AD 100%);

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 0;
        border-color: #FF008A transparent transparent transparent;
        }

    &.__small {
        height: 20px;
        line-height: 21px;
        padding: 0 5px;
        min-width: 20px;
        font-size: 13px;

        &:after {
            border-width: 5px 5px 0 0;
            }
        }

    &.__text {
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 15px;
        font-weight: 500;
        }

    &.__accent {
        background: linear-gradient(0deg, #CF005C 0%, #FF4300 100%);

        &:after {
            border-color: #CF005C transparent transparent transparent;
            }
        }

    &.__toolbar {
        display: block;
        background: #fff;
        padding: 0 5px;
        height: 13px;
        line-height: 14px;
        min-width: 0;
        font-size: 10px;
        color: @accentColor;

        &:after {
            border-width: 5px 5px 0 0;
            border-color: #fff transparent transparent transparent;
            }
        }
    }