.counter-bubble {
    .headingBold();
    display: inline-block;
    position: relative;
    height: 22px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0 5px;
    min-width: 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: linear-gradient(0deg, rgba(255,0,138,1) 0%, rgba(207,0,173,1) 100%);
    }