@font-face {
    font-family: 'Geometria';
    src: local('Geometria Heavy'),
    url('../fonts/Geometria-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'Geometria';
    src: local('Geometria Bold'), url('../fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }

