@import "../_utils.less";

.form {
    text-align: left;
    }

    .form_i {
        position: relative;
        margin-bottom: 10px;
        }

    .form_label {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 1.53;

        .tablet-breakpoint({
            position: absolute;
            right: 100%;
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
            })
        }

    .form_error {
        font-size: 13px;
        line-height: 1.53;
        color: #D0021B;
        }

.form-actions {
    display: flex;
    flex-direction: column;

    .tablet-breakpoint({
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        })
    }

    .form-actions_left {
        flex-basis: 50%;
        }

    .form-actions_center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: 1;
        flex-shrink: 0;

        .tablet-breakpoint({
            justify-content: center;
            order: 0;
            padding: 0 30px;
            })
        }

    .form-actions_right {
        flex-basis: 50%;
        margin-bottom: 10px;

        .tablet-breakpoint({
            margin-bottom: 0;
            })
        }

    .form-actions_no {
        order: 1;
        color: @accentColor;
        font-size: 13px;
        text-decoration: none;

        .tablet-breakpoint({
            order: 0;
            margin-right: 20px;
            })
        }

    .form-actions_yes {

        }