@import "../_utils.less";

.heading-secondary {
    .headingBold();
    padding: 0 20px;
    font-size: 18px;
    margin-bottom: 15px;

    .tablet-breakpoint({
        font-size: 24px;
        line-height: 1.16;
        padding: 0;

        .row-container & {
            margin-bottom: -10px;
            }
        })
    }