@import "../_utils.less";

.heading-primary {
    padding: 15px 20px 10px;
    min-width: 0;

    .tablet-breakpoint({
        padding: 0;
        })
    }

.heading-primary_main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tablet-breakpoint({
        margin-bottom: -20px;
        })
    }

.heading-primary_lead {
    line-height: 1.46;
    margin-bottom: 20px;
    padding-top: 10px;

    .tablet-breakpoint({
        padding-top: 20px;
        })
    }

.heading-primary_tags {
    overflow: hidden;
    margin: 0 -20px;
    padding: 0 20px;
    }

.heading-primary_title {
    .headingBold();
    .wordWrap(true);
    font-size: 24px;
    line-height: 1.2;

    .tablet-breakpoint({
        font-size: 48px;
        })
    }

.heading-primary_action {
    display: none;
    font-size: 15px;
    color: @auxColor;
    font-weight: 500;
    text-decoration: none;

    .tablet-breakpoint({
        display: inline;
        })
    }