@import "../_utils.less";

.horizontal-scrollable {
    font-size: 0;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .tablet-breakpoint({
        white-space: normal;
        padding: 0;
        overflow: hidden;
        })
    }