.icon {
    display: block;
    color: inherit;
    fill: currentColor;
    stroke: currentColor;
    
    &.__inline {
        display: inline-block;
        }
    }

.icon_heart {
    width: 15px;
    height: 14px;
    background-image: url(../img/ic/icon_heart.svg);
    }

.icon_heart-white {
    width: 16px;
    height: 14px;
    background-image: url(../img/ic/icon_heart-white.svg);
    }

.icon_message {
    width: 20px;
    height: 20px;
    background-image: url(../img/ic/icon_message.svg);
    }

.icon_trash {
    width: 8px;
    height: 10px;
    background-image: url(../img/ic/icon_trash.svg);
    }

.icon_close {
    width: 27px;
    height: 27px;
    background-image: url(../img/ic/icon_close.svg);
    }

.icon_close-small {
    width: 21px;
    height: 21px;
    background-image: url(../img/ic/icon_close-small.svg);
    }

.icon_search-small {
    width: 18px;
    height: 18px;
    background-image: url(../img/ic/icon_search-small.svg);
    }