@import "../_utils.less";

.layer {
    position: relative;
    z-index: 100;
    }

    .layer_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;

        .tablet-breakpoint({
            opacity: 0.5;
            })
        }

    .layer_hld {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        font-size: 0;
        text-align: center;

        .tablet-breakpoint({
            &:before {
                content: '';
                position: relative;
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                }
            })
        }

        .layer_cnt {
            position: relative;
            padding: 30px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(42, 94, 124, 0.37);
            min-height: 90vh;
            max-width: 100%;
            text-align: left;
            background-color: #fff;
            font-size: 15px;
            line-height: 1.33;

            .tablet-breakpoint({
                display: inline-block;
                vertical-align: middle;
                min-width: 635px;
                padding: 40px;
                margin: 50px auto;
                min-height: 0;
                })
            }
            
            .layer_header {
                .headingBold();
                .wordWrap(true);
                font-size: 30px;
                margin-right: 50px;
                margin-bottom: 50px;
                }

        .layer_close {
            position: absolute;
            top: 36px;
            right: 30px;
            cursor: pointer;
            }

    .layer_text {
        max-width: 360px;
        }

    .layer_actions {
        margin-top: 20px;

        .tablet-breakpoint({
            max-width: 175px;
            })
        }