@import "../_utils.less";

.default-container {
    margin: 0 auto;

    .phone-breakpoint({
        max-width: 480px;
        });

    .tablet-breakpoint({
        max-width: none;
        width: @columnWidth * 3 + @gapWidth * 2;
        });

    .desktop-breakpoint({
        width: @columnWidth * 4 + @gapWidth * 3;
        })
    }

.column-container {
    font-size: 0; // .column inline-block collapse
    }

.column {
    .textReset();

    .tablet-breakpoint({
        display: inline-block;
        vertical-align: top;

        & + & {
            margin-left: @gapWidth;
            }

        &.__width-1 {
            width: @columnWidth;
            }

        &.__width-2 {
            width: @columnWidth * 2 + @gapWidth;
            }

        &.__width-3 {
            width: @columnWidth * 3 + @gapWidth * 2;
            }
        });
    }

.row-container {
    .tablet-breakpoint({
        margin-top: 30px;
        })
    }        