@import "../_utils.less";

.outline-tag {
    .headingBold();
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    box-sizing: border-box;
    border: 1px #DDD solid;
    font-size: 13px;
    line-height: 42px;
    text-decoration: none;
    }

    .outline-tag_image {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 40px;
        margin: -1px 10px -1px -11px;
        }