@import "../_utils.less";

.pagination {
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        }

    .tablet-breakpoint({
        text-align: left;

        &:after {
            display: none;
            }
        })
    }

    .pagination_button {

        }

    .pagination_link {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;

        min-width: 30px;
        height: 30px;
        line-height: 28px;

        .tablet-breakpoint({
            min-width: 40px;
            height: 40px;
            line-height: 38px;
            })
        }

    .pagination_stub {
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;

        .tablet-breakpoint({
            line-height: 40px;
            })
        }

    .pagination_current {
        display: inline-block;

        box-sizing: border-box;
        padding: 0 10px;
        border: 1px @accentColor solid;
        border-radius: 3px;

        min-width: 30px;
        height: 30px;
        line-height: 28px;

        font-size: 15px;
        font-weight: 500;
        text-align: center;

        .tablet-breakpoint({
            min-width: 40px;
            height: 40px;
            line-height: 38px;
            })
        }