@import "../_utils.less";

html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.33;
    -webkit-font-smoothing: antialiased;
    }

body {
    .textReset();
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #F4F4F4;

    display: flex;
    flex-direction: column;

    &.__modal {
        overflow: hidden;
        }
    }

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    }

p, ul, ol {
    padding: 0;
    margin: 0;
    }

ul, ol {
    list-style: none;
    }

hr {
    margin: 0;
    border: 0 none;
    }

a {
    color: #000;

    &:hover {
        text-decoration: none;
        }
    }

th {
    text-align: left;
    }

article, aside, figcaption, figure, footer, header, section {
    display: block;
    margin: 0;
    padding: 0;
    }

input, textarea {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #000;

    &:focus {
        outline: none;
        }
    }

input[type="checkbox"] {
    border: 1px #F0F0F0 solid;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin: 0;
    }