@import "../_utils.less";

.responsive-switcher {

    }

    .responsive-switcher_default {
        display: block;

        .tablet-breakpoint({
            display: none;
            })
        }

    .responsive-switcher_tablet {
        display: none;

        .tablet-breakpoint({
            display: block;
            })
        }