@import "../_utils.less";

.tabs {
    display: inline-flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    overflow: hidden;
    font-weight: 500;
    }

    .tabs_item {
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        color: @accentColor;
        text-align: center;
        background: #fff;
        font-size: 15px;
        cursor: pointer;

        &.__active {
            color: #fff;
            background: linear-gradient(0deg, #FF008A 0%, #CF00AD 100%);
            cursor: default;
            }
        }