@import "../_utils.less";

.upload-stub {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #D8D8D8;
    border-radius: 50%;
    overflow: hidden;
    }

    .upload-stub_text {
        line-height: 120px;
        font-size: 13px;
        text-align: center;
        color: @auxColor;
        }

    .upload-stub_input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        }