@import "../_utils.less";

.user-info {
    display: flex;
    min-width: 0;
    align-items: baseline;
    }

    .user-info_name {
        .ellip();
        min-width: 0;
        color: @secondaryColor;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        }

    .user-info_rating {
        color: @auxColor;
        flex-shrink: 0;
        font-size: 11px;
        margin-left: 4px;
        align-self: flex-end;
        }