@import "../_utils.less";

.user-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    &.__small {
        width: 30px;
        height: 30px;
        }

    &.__profile {
        width: 120px;
        height: 120px;
        }

    &.__chat-contact {
        width: 60px;
        height: 60px;
        }

    &.__chat-participant {
        width: 30px;
        height: 30px;

        .tablet-breakpoint({
            width: 60px;
            height: 60px;
            })
        }

    &.__comment {
        width: 20px;
        height: 20px;

        .tablet-breakpoint({
            width: 60px;
            height: 60px;
            })
        }

    &.__toolbar {
        width: 30px;
        height: 30px;
        }

    &.__stub {
        background-color: #aaa;
        }
    }

    .user-avatar_img {
        display: block;
        width: 100%;
        height: 100%;
        }